@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #030711;

    --card: #FFFFFF;
    --card-foreground: #030711;

    --popover: #FFF;
    --popover-foreground: #030711;

    --primary: #076AD5;
    --primary-foreground: #F9FAFB;

    --secondary: #F9FAFB;
    --secondary-foreground: #111827;

    --muted: #F3F4F6;
    --muted-foreground: #66727F;

    --accent: #EFF7FF;
    --accent-foreground: #0356B0;

    --destructive: #DC2828;
    --destructive-foreground: #FAFAFA;

    --border: #E5E7EB;
    --input: #E5E7EB;
    --ring: #076AD5;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0C0C12;
    --foreground: #F3F4F6;

    --card: #030711;
    --card-foreground: #F3F4F6;

    --popover: #030711;
    --popover-foreground: #F3F4F6;

    --primary: #0A81FF;
    --primary-foreground: #031930;

    --secondary: #111827;
    --secondary-foreground: #D1D5DB;

    --muted: #1F2937;
    --muted-foreground: #66727F;

    --accent: #013D79;
    --accent-foreground: #8BC4FD;

    --destructive: #811D1D;
    --destructive-foreground: #FEF1F1;

    --border: #1F2937;
    --input: #1F2937;

    --ring: #0A81FF;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
