@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow: -moz-scrollbars-none; /* Firefox */
  }

  .custom-scrollbar {
    /** Make scrollbar to not take space **/
    overflow: overlay !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-5 h-5;
  }

  .custom-scrollbar.screenshot {
    overflow: hidden !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    @apply rounded-full bg-clip-padding border-solid;
    @apply border-transparent border-[6px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 3 7 17;

    --card: 255 255 255;
    --card-foreground: 3 7 17;

    --popover: 255 255 255;
    --popover-foreground: 3 7 17;

    --primary: 7 106 213;
    --primary-foreground: 249 250 251;

    --secondary: 249 250 251;
    --secondary-foreground: 17 24 39;

    --yellow: 254 240 210;
    --purple: 241 224 245;

    --muted: 243 244 246;
    --muted-foreground: 102 114 127;
    --warning-muted-foreground: 180 83 9;
    --destructive-muted-foreground: 185 28 28;

    --accent: 239 247 255;
    --accent-foreground: 3 86 176;

    --destructive: 220 40 40;
    --destructive-foreground: 250 250 250;
    --destructive-muted-foreground: 185 28 28;

    --border: 229 231 235;
    --input: 229 231 235;
    --ring: 7 106 213;

    --radius: 0.5rem;
  }

  .dark {
    --background: 12 12 18;
    --foreground: 243 244 246;

    --card: 3 7 17;
    --card-foreground: 243 244 246;

    --popover: 3 7 17;
    --popover-foreground: 243 244 246;

    --primary: 10 129 217;
    --primary-foreground: 249 250 251;

    --secondary: 17 24 39;
    --secondary-foreground: 209 213 219;

    --muted: 31 41 55;
    --muted-foreground: 102 114 127;

    --accent: 1 61 121;
    --accent-foreground: 139 196 253;

    --destructive: 129 29 29;
    --destructive-foreground: 254 241 241;
    --destructive-muted-foreground: 185 28 28;

    --border: 31 41 55;
    --input: 31 41 55;

    --ring: 10 129 217;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
