// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace MemoryClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MemoryClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MemoryClient.Options>;

    constructor(options: MemoryClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a cursor-paginated page of the project's memory stores, one roll-up row each (record count, tokens, last-updated, sessions, users). A store groups records under `gen_ai.memory.store.id`; the empty-string store is the unattributed bucket.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListStoresMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.listStores("projectSlug")
     */
    public listStores(
        projectSlug: string,
        request: Latitude.ListStoresMemoryRequest = {},
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.PaginatedMemoryStores> {
        return core.HttpResponsePromise.fromPromise(this.__listStores(projectSlug, request, requestOptions));
    }

    private async __listStores(
        projectSlug: string,
        request: Latitude.ListStoresMemoryRequest = {},
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.PaginatedMemoryStores>> {
        const { cursor, limit, sort, direction } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
            sort: sort != null ? sort : undefined,
            direction: direction != null ? direction : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/stores`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.PaginatedMemoryStores, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/stores",
        );
    }

    /**
     * Returns the store's current records (ids, token counts, last-updated) as a snapshot. Pass `at` (ISO-8601) to reconstruct the store as of a past point in time. Record bodies are fetched separately via `getMemoryRecord`.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.GetStoreMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.getStore("projectSlug", {
     *         storeId: "storeId"
     *     })
     */
    public getStore(
        projectSlug: string,
        request: Latitude.GetStoreMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryStoreSnapshot> {
        return core.HttpResponsePromise.fromPromise(this.__getStore(projectSlug, request, requestOptions));
    }

    private async __getStore(
        projectSlug: string,
        request: Latitude.GetStoreMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryStoreSnapshot>> {
        const { storeId, at } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
            at: at != null ? at : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/store`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryStoreSnapshot, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/store",
        );
    }

    /**
     * Returns a per-record diff of the store between two points in time — added, updated, and removed records with token deltas. `from` defaults to the empty state (everything counts as added); `to` defaults to the current state. Unchanged records are pruned.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.GetStoreDiffMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.getStoreDiff("projectSlug", {
     *         storeId: "storeId"
     *     })
     */
    public getStoreDiff(
        projectSlug: string,
        request: Latitude.GetStoreDiffMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryStoreDiff> {
        return core.HttpResponsePromise.fromPromise(this.__getStoreDiff(projectSlug, request, requestOptions));
    }

    private async __getStoreDiff(
        projectSlug: string,
        request: Latitude.GetStoreDiffMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryStoreDiff>> {
        const { storeId, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
            from: from_ != null ? from_ : undefined,
            to: to != null ? to : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/store/diff`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryStoreDiff, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/store/diff",
        );
    }

    /**
     * Returns the end-users who accessed the store (reads and writes both count as access), most recent access first.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListStoreUsersMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.listStoreUsers("projectSlug", {
     *         storeId: "storeId"
     *     })
     */
    public listStoreUsers(
        projectSlug: string,
        request: Latitude.ListStoreUsersMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryStoreUsers> {
        return core.HttpResponsePromise.fromPromise(this.__listStoreUsers(projectSlug, request, requestOptions));
    }

    private async __listStoreUsers(
        projectSlug: string,
        request: Latitude.ListStoreUsersMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryStoreUsers>> {
        const { storeId } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/store/users`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryStoreUsers, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/store/users",
        );
    }

    /**
     * Returns one record's current body plus its mutating version history (newest first), each version carrying the authoring span/trace/session/user and per-version token deltas.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.GetRecordMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.getRecord("projectSlug", {
     *         storeId: "storeId",
     *         recordId: "recordId"
     *     })
     */
    public getRecord(
        projectSlug: string,
        request: Latitude.GetRecordMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryRecordDetail> {
        return core.HttpResponsePromise.fromPromise(this.__getRecord(projectSlug, request, requestOptions));
    }

    private async __getRecord(
        projectSlug: string,
        request: Latitude.GetRecordMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryRecordDetail>> {
        const { storeId, recordId } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
            recordId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/record`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryRecordDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/record",
        );
    }

    /**
     * Returns the before/after bodies for one change — the version authored by `spanId` against its predecessor in the record's mutating chain. Returns 404 when the span is not a recorded change of the record.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.GetRecordChangeMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.getRecordChange("projectSlug", {
     *         storeId: "storeId",
     *         recordId: "recordId",
     *         spanId: "spanId"
     *     })
     */
    public getRecordChange(
        projectSlug: string,
        request: Latitude.GetRecordChangeMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryRecordChangeDiff> {
        return core.HttpResponsePromise.fromPromise(this.__getRecordChange(projectSlug, request, requestOptions));
    }

    private async __getRecordChange(
        projectSlug: string,
        request: Latitude.GetRecordChangeMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryRecordChangeDiff>> {
        const { storeId, recordId, spanId } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
            recordId,
            spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/record/change`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryRecordChangeDiff, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/record/change",
        );
    }

    /**
     * Returns the retrieval (`search_memory`) events for one record, newest first and capped, each with the query text (when captured), tokens returned, and the accessing span/trace/session/user.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListRecordReadsMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.listRecordReads("projectSlug", {
     *         storeId: "storeId",
     *         recordId: "recordId"
     *     })
     */
    public listRecordReads(
        projectSlug: string,
        request: Latitude.ListRecordReadsMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryRecordReads> {
        return core.HttpResponsePromise.fromPromise(this.__listRecordReads(projectSlug, request, requestOptions));
    }

    private async __listRecordReads(
        projectSlug: string,
        request: Latitude.ListRecordReadsMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryRecordReads>> {
        const { storeId, recordId, limit } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
            recordId,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/record/reads`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryRecordReads, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/record/reads",
        );
    }

    /**
     * Returns the end-users who accessed one record with per-user read and write counts, most recent access first.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListRecordUsersMemoryRequest} request
     * @param {MemoryClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.memory.listRecordUsers("projectSlug", {
     *         storeId: "storeId",
     *         recordId: "recordId"
     *     })
     */
    public listRecordUsers(
        projectSlug: string,
        request: Latitude.ListRecordUsersMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.MemoryRecordUsers> {
        return core.HttpResponsePromise.fromPromise(this.__listRecordUsers(projectSlug, request, requestOptions));
    }

    private async __listRecordUsers(
        projectSlug: string,
        request: Latitude.ListRecordUsersMemoryRequest,
        requestOptions?: MemoryClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.MemoryRecordUsers>> {
        const { storeId, recordId } = request;
        const _queryParams: Record<string, unknown> = {
            storeId,
            recordId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/memory/record/users`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.MemoryRecordUsers, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/memory/record/users",
        );
    }
}
