// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as LatitudeApi from "../../../index.js";

export declare namespace IncidentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IncidentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IncidentsClient.Options>;

    constructor(options: IncidentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns incidents in the project, ordered from oldest to newest. The time window defaults to the trailing 7 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {LatitudeApi.IncidentsListRequest} request
     * @param {IncidentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link LatitudeApi.BadRequestError}
     * @throws {@link LatitudeApi.UnauthorizedError}
     * @throws {@link LatitudeApi.NotFoundError}
     *
     * @example
     *     await client.incidents.list("projectSlug", {
     *         fromIso: "2024-01-15T09:30:00Z",
     *         toIso: "2024-01-15T09:30:00Z",
     *         sourceId: "sourceId"
     *     })
     */
    public list(
        projectSlug: string,
        request: LatitudeApi.IncidentsListRequest = {},
        requestOptions?: IncidentsClient.RequestOptions,
    ): core.HttpResponsePromise<LatitudeApi.ListIncidentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(projectSlug, request, requestOptions));
    }

    private async __list(
        projectSlug: string,
        request: LatitudeApi.IncidentsListRequest = {},
        requestOptions?: IncidentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<LatitudeApi.ListIncidentsResponse>> {
        const { fromIso, toIso, sourceTypes, sourceId, kinds, severities } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            sourceTypes: Array.isArray(sourceTypes)
                ? sourceTypes.map((item) => item)
                : sourceTypes != null
                  ? sourceTypes
                  : undefined,
            sourceId,
            kinds: Array.isArray(kinds) ? kinds.map((item) => item) : kinds != null ? kinds : undefined,
            severities: Array.isArray(severities)
                ? severities.map((item) => item)
                : severities != null
                  ? severities
                  : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeApiEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/incidents`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as LatitudeApi.ListIncidentsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new LatitudeApi.BadRequestError(
                        _response.error.body as LatitudeApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new LatitudeApi.UnauthorizedError(
                        _response.error.body as LatitudeApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new LatitudeApi.NotFoundError(
                        _response.error.body as LatitudeApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LatitudeApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/incidents",
        );
    }
}
