// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace IncidentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IncidentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IncidentsClient.Options>;

    constructor(options: IncidentsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns incidents in the project, ordered from oldest to newest. The time window defaults to the trailing 7 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListIncidentsRequest} request
     * @param {IncidentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.incidents.list("projectSlug")
     */
    public list(
        projectSlug: string,
        request: Latitude.ListIncidentsRequest = {},
        requestOptions?: IncidentsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ListIncidentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(projectSlug, request, requestOptions));
    }

    private async __list(
        projectSlug: string,
        request: Latitude.ListIncidentsRequest = {},
        requestOptions?: IncidentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ListIncidentsResponse>> {
        const { fromIso, toIso, source_type: sourceType, source_id: sourceId, severities } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            source_type: sourceType != null ? sourceType : undefined,
            source_id: sourceId,
            severities: Array.isArray(severities)
                ? severities.map((item) => item)
                : severities != null
                  ? severities
                  : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/incidents`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ListIncidentsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/incidents",
        );
    }

    /**
     * Resolves (closes) an ongoing incident. An already-closed incident is returned unchanged. If the incident's condition triggers again, a new incident will be opened.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} incidentId - Incident identifier.
     * @param {Latitude.ResolveIncidentsRequest} request
     * @param {IncidentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.incidents.resolve("projectSlug", "incidentId")
     */
    public resolve(
        projectSlug: string,
        incidentId: string,
        request: Latitude.ResolveIncidentsRequest = {},
        requestOptions?: IncidentsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.Incident> {
        return core.HttpResponsePromise.fromPromise(this.__resolve(projectSlug, incidentId, request, requestOptions));
    }

    private async __resolve(
        projectSlug: string,
        incidentId: string,
        _request: Latitude.ResolveIncidentsRequest = {},
        requestOptions?: IncidentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.Incident>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/incidents/${core.url.encodePathParam(incidentId)}`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.Incident, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectSlug}/incidents/{incidentId}",
        );
    }
}
