NODE_ENV=development
LATITUDE_API_KEY=c754a15f-4c21-41bd-8c2f-e6c6783a5860

DATABASE_URL=postgres://latitude:secret@localhost:5432/latitude_development
TEST_DATABASE_URL=postgres://latitude:secret@localhost:5432/latitude_test

HOST='0.0.0.0'
PORT=3000

ELASTIC_URL=https://elastic:9200
ELASTIC_USERNAME=latitude
ELASTIC_PASSWORD=secret
