# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Latitude CLI
latitude-lock.json
**/cli/prompts/test.js

# Dependencies
node_modules
.pnp
.pnp.js
*.*-E

# Local env files
.env
.env.*
!.env.example

# Testing
coverage

# Turbo
.turbo
.tsbuildinfo

# Vim shit
*.py-E
# Python packages
.venv
**/*.egg-info/
__pycache__

# Vercel
.vercel
.expert

# Build Outputs
.next/
out/
build
dist
# Vim crap
*.ts-E
*.tsx-E


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

# postgres data in development. Ignore
docker/pgdata/

# Next.js
next-env.d.ts
apps/web/scripts-dist

# File uploads in development
apps/web/uploads
apps/web/storage
apps/web/public/uploads
apps/web/public/files
uploads
storage

# Temporal
tmp

# Misc
TODO.md
.vscode/settings.json
.vscode/tasks.json
/acme

# Sentry
.sentryclirc
.env.sentry-build-plugin

# Do not remove are used internally
bin/start-services.sh
bin/connect.sh

# This is to put there things like promptl source code so we can tell AI how it works.
# Usually AI editors only pick files from inside the git project.
ONLY_FOR_COPILOT/

.claude
__testing__


# New spans
apps/web/ingest
apps/workers/workspaces/*/traces
provider-logs/*
workspaces/*

# Helm chart secrets (do not commit)
charts/latitude/values.secrets.yaml
**/*.secrets.yaml
**/*.secrets.yml

trace

# Ignore everything in disposables
packages/core/scripts/disposables/*

# But not the README
!packages/core/scripts/disposables/
!packages/core/scripts/disposables/README.md

PRD.md
progress.txt

packages/core/scripts/prompts
