services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: latitude
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: latitude_development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: postgres -c wal_level=logical

  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    environment:
      CLICKHOUSE_DB: latitude_development
      CLICKHOUSE_USER: latitude
      CLICKHOUSE_PASSWORD: secret
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mailpit:
    image: axllent/mailpit:v1.24
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  postgres_data:
  clickhouse_data:
