// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace UsersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsersClient.Options>;

    constructor(options: UsersClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a page of the project's identified end-users over the range, each with trace, session, token, and cost metrics, plus cost aggregates across every matching user. The range defaults to the trailing 30 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.list("projectSlug")
     */
    public list(
        projectSlug: string,
        request: Latitude.ListUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(projectSlug, request, requestOptions));
    }

    private async __list(
        projectSlug: string,
        request: Latitude.ListUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserListResponse>> {
        const { fromIso, toIso, limit, offset, sortBy, sortDirection, searchQuery } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            limit,
            offset,
            sortBy: sortBy != null ? sortBy : undefined,
            sortDirection: sortDirection != null ? sortDirection : undefined,
            searchQuery,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users",
        );
    }

    /**
     * Returns project-wide end-user aggregates over the range — unique and new users, identified vs total traces and sessions — plus a per-bucket activity histogram. The range defaults to the trailing 30 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.OverviewUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.overview("projectSlug")
     */
    public overview(
        projectSlug: string,
        request: Latitude.OverviewUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UsersOverviewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__overview(projectSlug, request, requestOptions));
    }

    private async __overview(
        projectSlug: string,
        request: Latitude.OverviewUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UsersOverviewResponse>> {
        const { fromIso, toIso } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/overview`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UsersOverviewResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/overview",
        );
    }

    /**
     * Returns the end-user's per-bucket session activity across the range, oldest first. The range defaults to the trailing 30 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} userId - End-user identifier. URL-encode values containing special characters.
     * @param {Latitude.ActivityUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.activity("projectSlug", "userId")
     */
    public activity(
        projectSlug: string,
        userId: string,
        request: Latitude.ActivityUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserActivityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__activity(projectSlug, userId, request, requestOptions));
    }

    private async __activity(
        projectSlug: string,
        userId: string,
        request: Latitude.ActivityUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserActivityResponse>> {
        const { fromIso, toIso, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/${core.url.encodePathParam(userId)}/activity`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserActivityResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/{userId}/activity",
        );
    }

    /**
     * Returns the end-user's top values of a usage dimension — `model`, `provider`, or `tool` — ranked by distinct trace count.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} userId - End-user identifier. URL-encode values containing special characters.
     * @param {Latitude.UsageUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.usage("projectSlug", "userId", {
     *         dimension: "model"
     *     })
     */
    public usage(
        projectSlug: string,
        userId: string,
        request: Latitude.UsageUsersRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__usage(projectSlug, userId, request, requestOptions));
    }

    private async __usage(
        projectSlug: string,
        userId: string,
        request: Latitude.UsageUsersRequest,
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserUsageResponse>> {
        const { dimension, limit, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            dimension,
            limit,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/${core.url.encodePathParam(userId)}/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserUsageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/{userId}/usage",
        );
    }

    /**
     * Returns the signals that occurred on the end-user's traces, most recent occurrence first. Occurrence counts are scoped to the user; signal identity and lifecycle states are the project's.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} userId - End-user identifier. URL-encode values containing special characters.
     * @param {Latitude.SignalsUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.signals("projectSlug", "userId")
     */
    public signals(
        projectSlug: string,
        userId: string,
        request: Latitude.SignalsUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserSignalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__signals(projectSlug, userId, request, requestOptions));
    }

    private async __signals(
        projectSlug: string,
        userId: string,
        request: Latitude.SignalsUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserSignalsResponse>> {
        const { limit } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/${core.url.encodePathParam(userId)}/signals`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserSignalsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/{userId}/signals",
        );
    }

    /**
     * Returns the behaviour clusters observed on the end-user's sessions, most frequent first. Counts are scoped to the user; cluster identity comes from the project taxonomy.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} userId - End-user identifier. URL-encode values containing special characters.
     * @param {Latitude.BehavioursUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.behaviours("projectSlug", "userId")
     */
    public behaviours(
        projectSlug: string,
        userId: string,
        request: Latitude.BehavioursUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserBehavioursResponse> {
        return core.HttpResponsePromise.fromPromise(this.__behaviours(projectSlug, userId, request, requestOptions));
    }

    private async __behaviours(
        projectSlug: string,
        userId: string,
        request: Latitude.BehavioursUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserBehavioursResponse>> {
        const { limit } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/${core.url.encodePathParam(userId)}/behaviours`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserBehavioursResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/{userId}/behaviours",
        );
    }

    /**
     * Returns the memory stores the end-user accessed (reads and writes both count as access), most recent access first. Each store links to the memory browsing operations under the `memory` group.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} userId - End-user identifier. URL-encode values containing special characters.
     * @param {Latitude.MemoryStoresUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.memoryStores("projectSlug", "userId")
     */
    public memoryStores(
        projectSlug: string,
        userId: string,
        request: Latitude.MemoryStoresUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserMemoryStores> {
        return core.HttpResponsePromise.fromPromise(this.__memoryStores(projectSlug, userId, request, requestOptions));
    }

    private async __memoryStores(
        projectSlug: string,
        userId: string,
        _request: Latitude.MemoryStoresUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserMemoryStores>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/${core.url.encodePathParam(userId)}/memory`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserMemoryStores, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/{userId}/memory",
        );
    }

    /**
     * Returns the lifetime profile of one end-user — trace, session, token, cost, and activity rollups across all of the user's traces (not range-bound).
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} userId - End-user identifier. URL-encode values containing special characters.
     * @param {Latitude.GetUsersRequest} request
     * @param {UsersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.users.get("projectSlug", "userId")
     */
    public get(
        projectSlug: string,
        userId: string,
        request: Latitude.GetUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.UserProfileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(projectSlug, userId, request, requestOptions));
    }

    private async __get(
        projectSlug: string,
        userId: string,
        request: Latitude.GetUsersRequest = {},
        requestOptions?: UsersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UserProfileResponse>> {
        const { errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/users/${core.url.encodePathParam(userId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UserProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/users/{userId}",
        );
    }
}
