// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace OauthKeysClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OauthKeysClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OauthKeysClient.Options>;

    constructor(options: OauthKeysClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns every OAuth key (like MCP clients) connected to the organization.
     *
     * @param {OauthKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.oauthKeys.list()
     */
    public list(requestOptions?: OauthKeysClient.RequestOptions): core.HttpResponsePromise<Latitude.OAuthKeyList> {
        return core.HttpResponsePromise.fromPromise(this.__list(requestOptions));
    }

    private async __list(
        requestOptions?: OauthKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.OAuthKeyList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                "v1/oauth-keys",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.OAuthKeyList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.LatitudeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/oauth-keys");
    }

    /**
     * Returns a single OAuth key (like MCP clients) by id.
     *
     * @param {string} oauthKeyId - OAuth key identifier.
     * @param {Latitude.GetOauthKeysRequest} request
     * @param {OauthKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.oauthKeys.get("oauthKeyId")
     */
    public get(
        oauthKeyId: string,
        request: Latitude.GetOauthKeysRequest = {},
        requestOptions?: OauthKeysClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.OAuthKey> {
        return core.HttpResponsePromise.fromPromise(this.__get(oauthKeyId, request, requestOptions));
    }

    private async __get(
        oauthKeyId: string,
        _request: Latitude.GetOauthKeysRequest = {},
        requestOptions?: OauthKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.OAuthKey>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/oauth-keys/${core.url.encodePathParam(oauthKeyId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.OAuthKey, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/oauth-keys/{oauthKeyId}");
    }

    /**
     * Revokes an OAuth key (like MCP clients). The connected client immediately loses access.
     *
     * @param {string} oauthKeyId - OAuth key identifier.
     * @param {Latitude.RevokeOauthKeysRequest} request
     * @param {OauthKeysClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.oauthKeys.revoke("oauthKeyId")
     */
    public revoke(
        oauthKeyId: string,
        request: Latitude.RevokeOauthKeysRequest = {},
        requestOptions?: OauthKeysClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__revoke(oauthKeyId, request, requestOptions));
    }

    private async __revoke(
        oauthKeyId: string,
        _request: Latitude.RevokeOauthKeysRequest = {},
        requestOptions?: OauthKeysClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/oauth-keys/${core.url.encodePathParam(oauthKeyId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/oauth-keys/{oauthKeyId}",
        );
    }
}
