@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    --font-display: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

    --background: 0 0% 100%;
    --background-shadow: 0 0% 0%;
    --background-code: 0 0% 98%;
    --background-gray: 0 0% 99%;
    --foreground: 224 71.5% 4%;
    --card: 0 0% 100%;
    --card-foreground: 223 70% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 70% 4%;
    --primary: 211 94% 43%;
    --primary-foreground: 210 20% 98%;
    --primary-muted: 210 100% 96%;
    --primary-muted-hover: 210 100% 97%;
    --secondary: 210 20% 98%;
    --secondary-foreground: 221 39% 11%;
    --yellow: 41 96% 91%;
    --purple: 289 51% 92%;
    --purple-foreground: 289 51% 14%;
    --muted: 220 14% 96%;
    --muted-foreground: 211 11% 45%;
    --accent: 210 100% 97%;
    --accent-button: 211 97% 35%;
    --accent-foreground: 211 97% 35%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --destructive-muted: 0 93% 94%;
    --destructive-muted-foreground: 0 74% 42%;
    --success: 142 72% 29%;
    --success-foreground: 120 87% 97%;
    --success-muted: 141 84% 93%;
    --success-muted-foreground: 142 72% 29%;
    --warning-muted: 48 96% 89%;
    --warning-muted-foreground: 26 90% 37%;
    --border: 0 0% 89.8%;
    --input: 0 0% 84.8%;
    --ring: 211 94% 43%;
    --radius: 0.5rem;
    --latte: 45 99% 55%;
    --latte-border: 42.5 51% 81.5%;
    --latte-background: 43 71% 98%;
    --latte-widget-background: 43 51% 82%;
    --latte-input-background: 43 100% 91%;
    --latte-input-foreground: 43 100% 23%;
    --latte-output-foreground: 43 25% 33%;
    --latte-badge-border: 45 81% 44%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background-code: 0 0% 11%;
    --background-gray: 0 0% 10%;
    --background: 0 0% 7%;
    --background-shadow: 0 0% 100%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 98% 24%;
    --primary-foreground: 210 20% 98%;
    --primary-muted: 210 100% 12%;
    --primary-muted-hover: 210 100% 16%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 98%;
    --yellow: 41 90% 14%;
    --purple: 289 51% 14%;
    --purple-foreground: 289 51% 65%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 211 88% 10%;
    --accent-button: 211 97% 35%;
    --accent-foreground: 211 94% 65%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --destructive-muted: 0 75% 10%;
    --destructive-muted-foreground: 0 75% 56%;
    --success: 142 76% 36%;
    --success-foreground: 120 87% 97%;
    --success-muted: 141 84% 10%;
    --success-muted-foreground: 142 76% 36%;
    --warning-muted: 48 100% 10%;
    --warning-muted-foreground: 49 100% 36%;
    --border: 231 9% 12.9%;
    --input: 0 0% 14.9%;
    --ring: 205 91% 44%;
    --latte: 45 99% 55%;
    --latte-border: 45 81% 44%;
    --latte-background: 43 71% 8%;
    --latte-widget-background: 43 51% 82%;
    --latte-input-background: 45 99% 55%;
    --latte-input-foreground: 43 100% 23%;
    --latte-output-foreground: 43 25% 83%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
