LATITUDE_API_KEY=d1a87bd5-0732-4e5d-ba95-a8a47eaa3055

# Not necessary if you use prompts from https://app.latitude.so
GATEWAY_HOST=localhost
GATEWAY_PORT=8787

# Examples
# RUN_PROMPT_PROJECT_ID=your-project-id
