// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace TracesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TracesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TracesClient.Options>;

    constructor(options: TracesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a cursor-paginated page of traces in the project. Combine `filters` with `query` (free-text semantic search) to narrow the result set. Trace list rows exclude per-message LLM content — use `getTrace` for the full conversation view.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListTracesBody} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.list("projectSlug")
     */
    public list(
        projectSlug: string,
        request: Latitude.ListTracesBody = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.PaginatedTraces> {
        return core.HttpResponsePromise.fromPromise(this.__list(projectSlug, request, requestOptions));
    }

    private async __list(
        projectSlug: string,
        request: Latitude.ListTracesBody = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.PaginatedTraces>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/list`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.PaginatedTraces, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectSlug}/traces/list",
        );
    }

    /**
     * Returns trace analytics for the project: a total (or median) per metric over the requested range, plus a per-bucket series for each metric. Buckets are 12-hour UTC-aligned. The range defaults to the trailing 7 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.AnalyticsTracesRequest} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.analytics("projectSlug")
     */
    public analytics(
        projectSlug: string,
        request: Latitude.AnalyticsTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.TraceAnalyticsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__analytics(projectSlug, request, requestOptions));
    }

    private async __analytics(
        projectSlug: string,
        request: Latitude.AnalyticsTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.TraceAnalyticsResponse>> {
        const { fromIso, toIso } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/analytics`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.TraceAnalyticsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/traces/analytics",
        );
    }

    /**
     * Returns a single trace by id, including the captured system instructions and the conversation messages from the trace's last LLM-completion span.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} traceId - 32-character trace identifier.
     * @param {Latitude.GetTracesRequest} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.get("projectSlug", "traceId")
     */
    public get(
        projectSlug: string,
        traceId: string,
        request: Latitude.GetTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.TraceDetail> {
        return core.HttpResponsePromise.fromPromise(this.__get(projectSlug, traceId, request, requestOptions));
    }

    private async __get(
        projectSlug: string,
        traceId: string,
        _request: Latitude.GetTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.TraceDetail>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/${core.url.encodePathParam(traceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.TraceDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/traces/{traceId}",
        );
    }

    /**
     * Returns every span belonging to the trace, ordered by `startTime` ascending. Spans carry the OpenTelemetry envelope (kind, status, attributes, resource) plus Latitude's GenAI enrichment (tokens, cost, operation, provider, model). Per-message LLM content is excluded for size; use a span point-lookup for the conversation payload.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} traceId - 32-character trace identifier.
     * @param {Latitude.ListSpansTracesRequest} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.listSpans("projectSlug", "traceId")
     */
    public listSpans(
        projectSlug: string,
        traceId: string,
        request: Latitude.ListSpansTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.TraceSpans> {
        return core.HttpResponsePromise.fromPromise(this.__listSpans(projectSlug, traceId, request, requestOptions));
    }

    private async __listSpans(
        projectSlug: string,
        traceId: string,
        _request: Latitude.ListSpansTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.TraceSpans>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/${core.url.encodePathParam(traceId)}/spans`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.TraceSpans, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/traces/{traceId}/spans",
        );
    }

    /**
     * Returns one span by id, including the LLM conversation (system instructions, input messages, output messages), tool data (definitions, call id, input, output), and the full OpenTelemetry payload (attributes, resource, events, links) that's excluded from the lighter list shape.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} traceId - 32-character trace identifier.
     * @param {string} spanId - 16-character span identifier.
     * @param {Latitude.GetSpanTracesRequest} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.getSpan("projectSlug", "traceId", "spanId")
     */
    public getSpan(
        projectSlug: string,
        traceId: string,
        spanId: string,
        request: Latitude.GetSpanTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.SpanDetail> {
        return core.HttpResponsePromise.fromPromise(
            this.__getSpan(projectSlug, traceId, spanId, request, requestOptions),
        );
    }

    private async __getSpan(
        projectSlug: string,
        traceId: string,
        spanId: string,
        _request: Latitude.GetSpanTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.SpanDetail>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/${core.url.encodePathParam(traceId)}/spans/${core.url.encodePathParam(spanId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.SpanDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/traces/{traceId}/spans/{spanId}",
        );
    }

    /**
     * Returns a cursor-paginated page of annotations pinned to the trace, including both published annotations and drafts.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} traceId - 32-character trace identifier.
     * @param {Latitude.ListAnnotationsTracesRequest} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.listAnnotations("projectSlug", "traceId")
     */
    public listAnnotations(
        projectSlug: string,
        traceId: string,
        request: Latitude.ListAnnotationsTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.PaginatedTraceAnnotations> {
        return core.HttpResponsePromise.fromPromise(
            this.__listAnnotations(projectSlug, traceId, request, requestOptions),
        );
    }

    private async __listAnnotations(
        projectSlug: string,
        traceId: string,
        request: Latitude.ListAnnotationsTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.PaginatedTraceAnnotations>> {
        const { cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/${core.url.encodePathParam(traceId)}/annotations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.PaginatedTraceAnnotations, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/traces/{traceId}/annotations",
        );
    }

    /**
     * Returns one annotation by id pinned to the trace.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} traceId - 32-character trace identifier.
     * @param {string} annotationId - Stable annotation identifier.
     * @param {Latitude.GetAnnotationTracesRequest} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.getAnnotation("projectSlug", "traceId", "annotationId")
     */
    public getAnnotation(
        projectSlug: string,
        traceId: string,
        annotationId: string,
        request: Latitude.GetAnnotationTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.Annotation> {
        return core.HttpResponsePromise.fromPromise(
            this.__getAnnotation(projectSlug, traceId, annotationId, request, requestOptions),
        );
    }

    private async __getAnnotation(
        projectSlug: string,
        traceId: string,
        annotationId: string,
        _request: Latitude.GetAnnotationTracesRequest = {},
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.Annotation>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/${core.url.encodePathParam(traceId)}/annotations/${core.url.encodePathParam(annotationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.Annotation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/traces/{traceId}/annotations/{annotationId}",
        );
    }

    /**
     * Enqueues a CSV export of the traces matched by `traces`. The export runs asynchronously; a download link is emailed to `recipient` when the file is ready. The response returns immediately with `status = "queued"`. The recipient must already be a member of the requesting organization.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ExportTracesBody} request
     * @param {TracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.traces.export("projectSlug", {
     *         traces: {
     *             by: "ids",
     *             ids: ["ids"]
     *         },
     *         recipient: "recipient"
     *     })
     */
    public export(
        projectSlug: string,
        request: Latitude.ExportTracesBody,
        requestOptions?: TracesClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ExportTracesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__export(projectSlug, request, requestOptions));
    }

    private async __export(
        projectSlug: string,
        request: Latitude.ExportTracesBody,
        requestOptions?: TracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ExportTracesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/traces/export`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ExportTracesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/projects/{projectSlug}/traces/export",
        );
    }
}
