// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace UsageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class UsageClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<UsageClient.Options>;

    constructor(options: UsageClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the organization's credit usage for the current billing period, broken down by product area and by project.
     *
     * @param {UsageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.usage.get()
     */
    public get(requestOptions?: UsageClient.RequestOptions): core.HttpResponsePromise<Latitude.UsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(requestOptions));
    }

    private async __get(
        requestOptions?: UsageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.UsageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                "v1/usage",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.UsageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/usage");
    }
}
