// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Latitude from "../../../index.js";

export declare namespace ToolsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ToolsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ToolsClient.Options>;

    constructor(options: ToolsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns every tool in the project over the range — the union of defined and called tools — with per-tool usage metrics, offered counts, a call trend, and project-wide totals. The range defaults to the trailing 7 days.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.ListToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.list("projectSlug")
     */
    public list(
        projectSlug: string,
        request: Latitude.ListToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolsAnalyticsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(projectSlug, request, requestOptions));
    }

    private async __list(
        projectSlug: string,
        request: Latitude.ListToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolsAnalyticsResponse>> {
        const { fromIso, toIso, trendBucketSeconds } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            trendBucketSeconds,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ToolsAnalyticsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools",
        );
    }

    /**
     * Returns per-bucket call counts over the range. Omit `toolName` to aggregate across every tool in the project; pass it to scope the histogram to a single tool.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {Latitude.HistogramToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.histogram("projectSlug")
     */
    public histogram(
        projectSlug: string,
        request: Latitude.HistogramToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolHistogramResponse> {
        return core.HttpResponsePromise.fromPromise(this.__histogram(projectSlug, request, requestOptions));
    }

    private async __histogram(
        projectSlug: string,
        request: Latitude.HistogramToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolHistogramResponse>> {
        const { fromIso, toIso, toolName, bucketSeconds, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            toolName,
            bucketSeconds,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/histogram`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ToolHistogramResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/histogram",
        );
    }

    /**
     * Returns the most common top-level input keys and their most common values for the tool, computed over a sample of the most recent calls in the range.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} toolName - Tool name. URL-encode names containing special characters.
     * @param {Latitude.ParametersToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.parameters("projectSlug", "toolName")
     */
    public parameters(
        projectSlug: string,
        toolName: string,
        request: Latitude.ParametersToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolParameterStatsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__parameters(projectSlug, toolName, request, requestOptions));
    }

    private async __parameters(
        projectSlug: string,
        toolName: string,
        request: Latitude.ParametersToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolParameterStatsResponse>> {
        const { fromIso, toIso, topKeys, topValuesPerKey, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            topKeys,
            topValuesPerKey,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/${core.url.encodePathParam(toolName)}/parameters`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ToolParameterStatsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/{toolName}/parameters",
        );
    }

    /**
     * Returns where the tool is used, broken down by a dimension: `model` and `provider` attribute the tool's traces via their chat spans; `tag` reads tags on the tool-call spans themselves.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} toolName - Tool name. URL-encode names containing special characters.
     * @param {Latitude.ContextToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.context("projectSlug", "toolName", {
     *         dimension: "model"
     *     })
     */
    public context(
        projectSlug: string,
        toolName: string,
        request: Latitude.ContextToolsRequest,
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolContextBreakdownResponse> {
        return core.HttpResponsePromise.fromPromise(this.__context(projectSlug, toolName, request, requestOptions));
    }

    private async __context(
        projectSlug: string,
        toolName: string,
        request: Latitude.ContextToolsRequest,
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolContextBreakdownResponse>> {
        const { fromIso, toIso, dimension, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            dimension,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/${core.url.encodePathParam(toolName)}/context`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Latitude.ToolContextBreakdownResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/{toolName}/context",
        );
    }

    /**
     * Returns other tools called in the same traces as this one, ranked by shared trace count.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} toolName - Tool name. URL-encode names containing special characters.
     * @param {Latitude.CoOccurrenceToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.coOccurrence("projectSlug", "toolName")
     */
    public coOccurrence(
        projectSlug: string,
        toolName: string,
        request: Latitude.CoOccurrenceToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolCoOccurrenceResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__coOccurrence(projectSlug, toolName, request, requestOptions),
        );
    }

    private async __coOccurrence(
        projectSlug: string,
        toolName: string,
        request: Latitude.CoOccurrenceToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolCoOccurrenceResponse>> {
        const { fromIso, toIso, limit, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            limit,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/${core.url.encodePathParam(toolName)}/co-occurrence`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ToolCoOccurrenceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/{toolName}/co-occurrence",
        );
    }

    /**
     * Returns the most common error outputs of the tool's failed calls, grouped into clusters by a normalized form so variable fragments don't split one error into many buckets.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} toolName - Tool name. URL-encode names containing special characters.
     * @param {Latitude.ErrorsToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.errors("projectSlug", "toolName")
     */
    public errors(
        projectSlug: string,
        toolName: string,
        request: Latitude.ErrorsToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolErrorBreakdownResponse> {
        return core.HttpResponsePromise.fromPromise(this.__errors(projectSlug, toolName, request, requestOptions));
    }

    private async __errors(
        projectSlug: string,
        toolName: string,
        request: Latitude.ErrorsToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolErrorBreakdownResponse>> {
        const { fromIso, toIso, limit } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/${core.url.encodePathParam(toolName)}/errors`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ToolErrorBreakdownResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/{toolName}/errors",
        );
    }

    /**
     * Returns a cursor-paginated page of the tool's most recent calls, newest first, with payloads truncated to a bounded preview. Use a span point-lookup for full payloads.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} toolName - Tool name. URL-encode names containing special characters.
     * @param {Latitude.ListCallsToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.listCalls("projectSlug", "toolName")
     */
    public listCalls(
        projectSlug: string,
        toolName: string,
        request: Latitude.ListCallsToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.PaginatedToolCalls> {
        return core.HttpResponsePromise.fromPromise(this.__listCalls(projectSlug, toolName, request, requestOptions));
    }

    private async __listCalls(
        projectSlug: string,
        toolName: string,
        request: Latitude.ListCallsToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.PaginatedToolCalls>> {
        const { fromIso, toIso, limit, errorsOnly, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            limit,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/${core.url.encodePathParam(toolName)}/calls`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.PaginatedToolCalls, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/{toolName}/calls",
        );
    }

    /**
     * Returns the latest definition seen for the tool plus its global usage metrics. Pass `errorsOnly=true` to also include failed-calls-only metrics for failure analysis.
     *
     * @param {string} projectSlug - Project slug (human-readable identifier)
     * @param {string} toolName - Tool name. URL-encode names containing special characters.
     * @param {Latitude.GetToolsRequest} request
     * @param {ToolsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Latitude.BadRequestError}
     * @throws {@link Latitude.UnauthorizedError}
     * @throws {@link Latitude.NotFoundError}
     *
     * @example
     *     await client.tools.get("projectSlug", "toolName")
     */
    public get(
        projectSlug: string,
        toolName: string,
        request: Latitude.GetToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): core.HttpResponsePromise<Latitude.ToolDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(projectSlug, toolName, request, requestOptions));
    }

    private async __get(
        projectSlug: string,
        toolName: string,
        request: Latitude.GetToolsRequest = {},
        requestOptions?: ToolsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Latitude.ToolDetailResponse>> {
        const { fromIso, toIso, errorsOnly } = request;
        const _queryParams: Record<string, unknown> = {
            fromIso: fromIso != null ? fromIso : undefined,
            toIso: toIso != null ? toIso : undefined,
            errorsOnly: errorsOnly != null ? errorsOnly : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatitudeEnvironment.Production,
                `v1/projects/${core.url.encodePathParam(projectSlug)}/tools/${core.url.encodePathParam(toolName)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Latitude.ToolDetailResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Latitude.BadRequestError(_response.error.body as Latitude.Error_, _response.rawResponse);
                case 401:
                    throw new Latitude.UnauthorizedError(
                        _response.error.body as Latitude.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Latitude.NotFoundError(_response.error.body as Latitude.Error_, _response.rawResponse);
                default:
                    throw new errors.LatitudeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/projects/{projectSlug}/tools/{toolName}",
        );
    }
}
