{
  "openapi": "3.1.0",
  "info": {
    "title": "Latitude API",
    "version": "1.0.0",
    "description": "The Latitude public API. Authenticate using an API key via the `Authorization: Bearer` header."
  },
  "servers": [
    {
      "url": "https://api.latitude.so",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization-scoped API key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "enum": [
              "api"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        },
        "required": [
          "service",
          "status"
        ]
      },
      "OAuthProtectedResourceMetadata": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string"
          },
          "authorization_servers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "resource",
          "authorization_servers"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable project identifier (CUID2)."
          },
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this project."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug derived from `name`. Regenerated when the name changes in a way that affects the slug form."
          },
          "settings": {
            "$ref": "#/components/schemas/ProjectSettings"
          },
          "firstTraceAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of the first ingested trace. `null` until the first trace lands."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp at which the project was deleted. `null` while the project is active."
          },
          "lastEditedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the most recent name/settings edit."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of creation."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the last metadata change."
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "slug",
          "settings",
          "firstTraceAt",
          "deletedAt",
          "lastEditedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectSettings": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "keepMonitoring": {
            "type": "boolean",
            "description": "When `true`, the evaluation linked to an issue keeps running after the issue is resolved. When `false`, resolving the issue stops the evaluation. Defaults to `true` when omitted."
          },
          "alertNotifications": {
            "$ref": "#/components/schemas/AlertNotificationsSetting"
          }
        },
        "description": "Per-project settings overrides. `null` means inherit from the organization."
      },
      "AlertNotificationsSetting": {
        "type": "object",
        "properties": {
          "issue.new": {
            "type": "boolean",
            "description": "Send a notification when a new issue is discovered. Defaults to `true` when omitted."
          },
          "issue.regressed": {
            "type": "boolean",
            "description": "Send a notification when a previously-resolved issue regresses. Defaults to `true` when omitted."
          },
          "issue.escalating": {
            "type": "boolean",
            "description": "Send a notification when an active issue is escalating in volume or severity. Defaults to `true` when omitted."
          },
          "escalationSensitivity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "description": "Sensitivity of the escalation detector, 1 (most sensitive, more notifications) to 6 (least sensitive, fewer notifications). Defaults to a balanced value when omitted."
          }
        },
        "description": "Per-alert-kind in-app notification toggles plus escalation-detector tuning. Omit to keep current values."
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateProjectBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Human-readable name for the project. Must be unique within the organization."
          }
        },
        "required": [
          "name"
        ]
      },
      "PaginatedProjects": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "UpdateProjectBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "New human-readable name. Triggers slug regeneration when the change affects the slug form (cosmetic edits like capitalization keep the URL stable)."
          },
          "settings": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectSettings"
              },
              {
                "description": "Replace the project's settings overrides. Omit to leave settings untouched. To clear overrides entirely, edit via the web UI."
              }
            ]
          },
          "flaggers": {
            "type": "object",
            "properties": {
              "frustration": {
                "type": "boolean"
              },
              "nsfw": {
                "type": "boolean"
              },
              "refusal": {
                "type": "boolean"
              },
              "laziness": {
                "type": "boolean"
              },
              "jailbreaking": {
                "type": "boolean"
              },
              "forgetting": {
                "type": "boolean"
              },
              "trashing": {
                "type": "boolean"
              },
              "tool-call-errors": {
                "type": "boolean"
              },
              "output-schema-validation": {
                "type": "boolean"
              },
              "empty-response": {
                "type": "boolean"
              }
            },
            "description": "Enable or disable specific flaggers for the project. Keys are flagger slugs; values are the new `enabled` state. Omitted slugs are left untouched."
          }
        }
      },
      "ScoreResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/CustomScoreResponse"
          },
          {
            "$ref": "#/components/schemas/EvaluationScoreResponse"
          }
        ]
      },
      "CustomScoreResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable score identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this score."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this score lives in."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 128,
            "description": "Session id lifted from the trace, when set. `null` when the trace has no session."
          },
          "traceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 32,
            "maxLength": 32,
            "description": "Identifier of the scored trace."
          },
          "spanId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 16,
            "maxLength": 16,
            "description": "Span the score pins to. Defaults to the trace's last LLM-completion span."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Simulation reference, if any."
          },
          "issueId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Issue this score contributes to, if any."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the score marks the output as passing."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Generation error text, when score generation itself errored. `null` for successful scores."
          },
          "errored": {
            "type": "boolean",
            "description": "`true` when the score could not be generated successfully."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "description": "Score generation duration in nanoseconds."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "LLM tokens consumed generating the score."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD)."
          },
          "draftedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601 timestamp while the score is awaiting human confirmation. `null` for published / system scores."
          },
          "annotatorId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User who authored the score, if any."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the score was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the last metadata update."
          },
          "source": {
            "type": "string",
            "enum": [
              "custom"
            ],
            "description": "Discriminator. `\"custom\"` denotes a user-supplied score."
          },
          "sourceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "User-supplied tag identifying the score's origin (echoed from the request)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary user-supplied metadata persisted alongside the score."
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "sessionId",
          "traceId",
          "spanId",
          "simulationId",
          "issueId",
          "value",
          "passed",
          "feedback",
          "error",
          "errored",
          "duration",
          "tokens",
          "cost",
          "draftedAt",
          "annotatorId",
          "createdAt",
          "updatedAt",
          "source",
          "sourceId",
          "metadata"
        ]
      },
      "EvaluationScoreResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable score identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this score."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this score lives in."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 128,
            "description": "Session id lifted from the trace, when set. `null` when the trace has no session."
          },
          "traceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 32,
            "maxLength": 32,
            "description": "Identifier of the scored trace."
          },
          "spanId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 16,
            "maxLength": 16,
            "description": "Span the score pins to. Defaults to the trace's last LLM-completion span."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Simulation reference, if any."
          },
          "issueId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Issue this score contributes to, if any."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the score marks the output as passing."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Generation error text, when score generation itself errored. `null` for successful scores."
          },
          "errored": {
            "type": "boolean",
            "description": "`true` when the score could not be generated successfully."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "description": "Score generation duration in nanoseconds."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "LLM tokens consumed generating the score."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD)."
          },
          "draftedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601 timestamp while the score is awaiting human confirmation. `null` for published / system scores."
          },
          "annotatorId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User who authored the score, if any."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the score was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the last metadata update."
          },
          "source": {
            "type": "string",
            "enum": [
              "evaluation"
            ],
            "description": "Discriminator. `\"evaluation\"` denotes a platform-generated evaluation score."
          },
          "sourceId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "CUID of the evaluation that produced this score."
          },
          "metadata": {
            "$ref": "#/components/schemas/EvaluationScoreMetadata"
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "sessionId",
          "traceId",
          "spanId",
          "simulationId",
          "issueId",
          "value",
          "passed",
          "feedback",
          "error",
          "errored",
          "duration",
          "tokens",
          "cost",
          "draftedAt",
          "annotatorId",
          "createdAt",
          "updatedAt",
          "source",
          "sourceId",
          "metadata"
        ]
      },
      "EvaluationScoreMetadata": {
        "type": "object",
        "properties": {
          "evaluationHash": {
            "type": "string",
            "description": "Hash of the evaluation script that produced this score; lets the platform track which version generated it."
          }
        },
        "required": [
          "evaluationHash"
        ],
        "description": "Evaluation-specific metadata."
      },
      "CreateScoreBody": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/CreateCustomScoreBody"
          },
          {
            "$ref": "#/components/schemas/CreateEvaluationScoreBody"
          }
        ]
      },
      "CreateCustomScoreBody": {
        "type": "object",
        "properties": {
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Simulation this score is tied to, if any. `null` (default) when not part of a simulation."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the scored output passes the evaluator's bar."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "default": null,
            "description": "Generation error text, when score generation itself failed. `null` (default) for successful scores."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score generation duration in nanoseconds. `0` for externally-computed scores."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "LLM tokens consumed generating the score, if any. `0` for externally-computed scores."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD). `0` for externally-computed scores."
          },
          "trace": {
            "$ref": "#/components/schemas/TraceRef"
          },
          "sourceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "User-supplied tag identifying the score's origin (e.g. `\"prod-pipeline\"`, `\"qa-script-v2\"`)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "default": {},
            "description": "Arbitrary user-supplied metadata persisted alongside the score."
          },
          "_evaluation": {
            "type": "boolean",
            "enum": [
              false
            ],
            "default": false,
            "description": "Discriminator: omit (or `false`) for custom scores. Required `true` for evaluation scores."
          }
        },
        "required": [
          "value",
          "passed",
          "feedback",
          "trace",
          "sourceId"
        ]
      },
      "TraceRef": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "id"
                ],
                "description": "Match a single trace by its identifier. Pair with `id`."
              },
              "id": {
                "type": "string",
                "minLength": 32,
                "maxLength": 32,
                "description": "32-character trace identifier."
              }
            },
            "required": [
              "by",
              "id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "filters"
                ],
                "description": "Match a single trace by a filter set. Pair with `filters`; exactly one trace must match."
              },
              "filters": {
                "$ref": "#/components/schemas/FilterSet"
              }
            },
            "required": [
              "by",
              "filters"
            ]
          }
        ],
        "description": "Target trace. Either an explicit id or a filter set matching exactly one trace."
      },
      "FilterSet": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/FilterCondition"
          }
        },
        "description": "Filter set keyed by field name. Each entry holds an array of conditions ANDed together for that field; field-level groups are also ANDed across the set."
      },
      "FilterCondition": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "gte",
              "lt",
              "lte",
              "in",
              "notIn",
              "contains",
              "notContains",
              "gtePercentile"
            ],
            "description": "Comparison operator applied to the field's value (e.g. `eq`, `neq`, `in`). The full operator list lives in the API reference."
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              }
            ],
            "description": "Right-hand value compared against the field. Arrays are required for `in` / `notIn`-style operators."
          }
        },
        "required": [
          "op",
          "value"
        ]
      },
      "CreateEvaluationScoreBody": {
        "type": "object",
        "properties": {
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Simulation this score is tied to, if any. `null` (default) when not part of a simulation."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the scored output passes the evaluator's bar."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "default": null,
            "description": "Generation error text, when score generation itself failed. `null` (default) for successful scores."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score generation duration in nanoseconds. `0` for externally-computed scores."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "LLM tokens consumed generating the score, if any. `0` for externally-computed scores."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD). `0` for externally-computed scores."
          },
          "trace": {
            "$ref": "#/components/schemas/TraceRef"
          },
          "_evaluation": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Discriminator: `true` flags the body as an evaluation score (internal); `false`/omit for custom."
          },
          "sourceId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "CUID of the evaluation that produced this score."
          },
          "metadata": {
            "$ref": "#/components/schemas/EvaluationScoreMetadata"
          }
        },
        "required": [
          "value",
          "passed",
          "feedback",
          "trace",
          "_evaluation",
          "sourceId",
          "metadata"
        ],
        "description": "Internal, don't use"
      },
      "Annotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable annotation identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this annotation."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this annotation lives in."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 128,
            "description": "Session id lifted from the annotated trace. `null` when the trace has no session."
          },
          "traceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 32,
            "maxLength": 32,
            "description": "Identifier of the annotated trace."
          },
          "spanId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 16,
            "maxLength": 16,
            "description": "Span the annotation pins to. Defaults to the trace's last LLM-completion span."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Simulation reference, if any."
          },
          "issueId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Issue this annotation contributes to, if any."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the annotation marks the output as passing."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Generation error text, when the annotation itself errored. `null` for successful annotations."
          },
          "errored": {
            "type": "boolean",
            "description": "`true` when the annotation could not be generated successfully."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "description": "Generation duration in nanoseconds. `0` for human annotations."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "Total LLM tokens consumed generating the score. `0` for human annotations."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "description": "Total LLM cost in microcents (1/1,000,000 USD). `0` for human annotations."
          },
          "draftedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the annotation was drafted. `null` for published annotations."
          },
          "annotatorId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User who authored the annotation. `null` when not attributed to a user."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the annotation was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the last metadata update."
          },
          "source": {
            "type": "string",
            "enum": [
              "annotation"
            ],
            "description": "Always `\"annotation\"` for this shape."
          },
          "sourceId": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "UI",
                  "API",
                  "SYSTEM"
                ]
              },
              {
                "type": "string",
                "minLength": 24,
                "maxLength": 24
              }
            ],
            "description": "Origin marker. Sentinel `\"UI\"` / `\"API\"` / `\"SYSTEM\"` for drafts and automation, or an annotation-queue CUID for queue-authored rows."
          },
          "metadata": {
            "$ref": "#/components/schemas/AnnotationMetadata"
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "sessionId",
          "traceId",
          "spanId",
          "simulationId",
          "issueId",
          "value",
          "passed",
          "feedback",
          "error",
          "errored",
          "duration",
          "tokens",
          "cost",
          "draftedAt",
          "annotatorId",
          "createdAt",
          "updatedAt",
          "source",
          "sourceId",
          "metadata"
        ]
      },
      "AnnotationMetadata": {
        "type": "object",
        "properties": {
          "rawFeedback": {
            "type": "string",
            "description": "Original feedback text as written by the annotator, before any server-side enrichment."
          },
          "messageIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based message index inside the conversation. Omit for conversation-level annotations."
          },
          "partIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based index into the target message's `parts[]`. Requires `messageIndex`."
          },
          "startOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Inclusive start offset for substring annotations. Must be paired with `endOffset` and `partIndex`."
          },
          "endOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Exclusive end offset for substring annotations. Must be paired with `startOffset` and `partIndex`, and `>= startOffset`."
          },
          "textFormat": {
            "type": "string",
            "enum": [
              "pretty-json"
            ],
            "description": "UI-side text transform applied before the offsets were captured (e.g. `\"pretty-json\"`). Resolvers must apply the same transform before slicing."
          }
        },
        "required": [
          "rawFeedback"
        ],
        "description": "Annotation-specific metadata: `rawFeedback` plus a snapshot of the anchor at write time."
      },
      "CreateAnnotationBody": {
        "type": "object",
        "properties": {
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Simulation this annotation is tied to, if any. `null` (default) when not part of a simulation."
          },
          "issueId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Pre-selected issue this annotation belongs to. Leave `null` (default) to let the automatic issue-discovery pipeline route the annotation."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the annotated output passes the reviewer's bar."
          },
          "feedback": {
            "type": "string",
            "minLength": 1,
            "description": "Free-text feedback explaining the score. Surfaced alongside the trace."
          },
          "anchor": {
            "$ref": "#/components/schemas/AnnotationAnchor"
          },
          "trace": {
            "$ref": "#/components/schemas/TraceRef"
          }
        },
        "required": [
          "value",
          "passed",
          "feedback",
          "trace"
        ]
      },
      "AnnotationAnchor": {
        "type": "object",
        "properties": {
          "messageIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based message index inside the conversation. Omit for conversation-level annotations."
          },
          "partIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based index into the target message's `parts[]`. Requires `messageIndex`."
          },
          "startOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Inclusive start offset for substring annotations. Must be paired with `endOffset` and `partIndex`."
          },
          "endOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Exclusive end offset for substring annotations. Must be paired with `startOffset` and `partIndex`, and `>= startOffset`."
          },
          "textFormat": {
            "type": "string",
            "enum": [
              "pretty-json"
            ],
            "description": "UI-side text transform applied before the offsets were captured (e.g. `\"pretty-json\"`). Resolvers must apply the same transform before slicing."
          }
        },
        "description": "Optional anchor pinning the annotation to a specific message / part / offset range inside the trace."
      },
      "PaginatedTraces": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trace"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "Trace": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this trace."
          },
          "projectId": {
            "type": "string",
            "description": "Project this trace belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "32-character trace identifier."
          },
          "spanCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of spans in the trace."
          },
          "errorCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of spans flagged with an error status."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's earliest span."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's latest span."
          },
          "durationNs": {
            "type": "number",
            "description": "Wall-clock duration of the trace in nanoseconds."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the first LLM span to its first emitted token. `0` if not measured."
          },
          "tokensInput": {
            "type": "number",
            "description": "Total input tokens across LLM spans."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Total output tokens across LLM spans."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Total tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Total tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Total reasoning tokens reported by the model."
          },
          "tokensTotal": {
            "type": "number",
            "description": "Sum of all token counters."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this trace. `null` when not a simulation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Model identifiers seen across the trace's LLM spans."
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "LLM-provider identifiers seen across the trace's spans."
          },
          "serviceNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OpenTelemetry `service.name` values seen in the trace."
          },
          "rootSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the trace's root span. `null` when no root span has been ingested."
          },
          "rootSpanName": {
            "type": [
              "string",
              "null"
            ],
            "description": "`name` attribute of the root span. `null` when no root span has been ingested."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanCount",
          "errorCount",
          "startTime",
          "endTime",
          "durationNs",
          "timeToFirstTokenNs",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "tokensTotal",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "sessionId",
          "userId",
          "simulationId",
          "tags",
          "models",
          "providers",
          "serviceNames",
          "rootSpanId",
          "rootSpanName"
        ]
      },
      "ListTracesBody": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "Opaque cursor returned in a previous response's `nextCursor`. Omit on the first page."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50,
            "description": "Page size. Defaults to 50; max 200."
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "startTime",
              "endTime",
              "durationNs",
              "tokensTotal",
              "costTotalMicrocents"
            ],
            "default": "startTime",
            "description": "Field to sort by. Defaults to `startTime`."
          },
          "sortDirection": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "description": "Sort direction. Defaults to `desc` (most recent first)."
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Free-text semantic search across the trace's input and output messages. Combined with `filters` via AND."
          },
          "filters": {
            "$ref": "#/components/schemas/FilterSet"
          }
        }
      },
      "TraceDetail": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this trace."
          },
          "projectId": {
            "type": "string",
            "description": "Project this trace belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "32-character trace identifier."
          },
          "spanCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of spans in the trace."
          },
          "errorCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of spans flagged with an error status."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's earliest span."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's latest span."
          },
          "durationNs": {
            "type": "number",
            "description": "Wall-clock duration of the trace in nanoseconds."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the first LLM span to its first emitted token. `0` if not measured."
          },
          "tokensInput": {
            "type": "number",
            "description": "Total input tokens across LLM spans."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Total output tokens across LLM spans."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Total tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Total tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Total reasoning tokens reported by the model."
          },
          "tokensTotal": {
            "type": "number",
            "description": "Sum of all token counters."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this trace. `null` when not a simulation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Model identifiers seen across the trace's LLM spans."
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "LLM-provider identifiers seen across the trace's spans."
          },
          "serviceNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OpenTelemetry `service.name` values seen in the trace."
          },
          "rootSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the trace's root span. `null` when no root span has been ingested."
          },
          "rootSpanName": {
            "type": [
              "string",
              "null"
            ],
            "description": "`name` attribute of the root span. `null` when no root span has been ingested."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Free-form metadata attached at ingest time."
          },
          "systemInstructions": {
            "$ref": "#/components/schemas/GenAISystem"
          },
          "inputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAIMessage"
            },
            "description": "Input messages sent into the first LLM span of the trace, in OpenTelemetry GenAI format."
          },
          "outputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAIMessage"
            },
            "description": "Output messages from the last LLM span of the trace, in OpenTelemetry GenAI format."
          },
          "allMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAIMessage"
            },
            "description": "Full conversation view for the trace's final turn — the last span's input messages followed by its output messages, in OpenTelemetry GenAI format."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanCount",
          "errorCount",
          "startTime",
          "endTime",
          "durationNs",
          "timeToFirstTokenNs",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "tokensTotal",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "sessionId",
          "userId",
          "simulationId",
          "tags",
          "models",
          "providers",
          "serviceNames",
          "rootSpanId",
          "rootSpanName",
          "metadata",
          "systemInstructions",
          "inputMessages",
          "outputMessages",
          "allMessages"
        ]
      },
      "GenAISystem": {
        "type": "object",
        "additionalProperties": {},
        "description": "System instructions in OpenTelemetry GenAI format."
      },
      "GenAIMessage": {
        "type": "object",
        "additionalProperties": {},
        "description": "Message in OpenTelemetry GenAI format (`role` + content parts + optional tool calls)."
      },
      "TraceSpans": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Span"
            },
            "description": "All spans belonging to the trace, ordered by `startTime` ascending."
          }
        },
        "required": [
          "items"
        ]
      },
      "Span": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this span."
          },
          "projectId": {
            "type": "string",
            "description": "Project this span belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "Identifier of the trace this span belongs to."
          },
          "spanId": {
            "type": "string",
            "description": "Stable span identifier within the trace."
          },
          "parentSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the parent span. `null` for root spans."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this span. `null` when not a simulation."
          },
          "apiKeyId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latitude API key used to ingest the span. `null` when ingested without an API key."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span started."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span ended."
          },
          "name": {
            "type": "string",
            "description": "Span name (e.g. the entry-point function or route)."
          },
          "serviceName": {
            "type": "string",
            "description": "OpenTelemetry `service.name` of the emitting service."
          },
          "kind": {
            "type": "string",
            "enum": [
              "unspecified",
              "internal",
              "server",
              "client",
              "producer",
              "consumer"
            ],
            "description": "OpenTelemetry span kind."
          },
          "statusCode": {
            "type": "string",
            "enum": [
              "unset",
              "ok",
              "error"
            ],
            "description": "OpenTelemetry span status code."
          },
          "statusMessage": {
            "type": "string",
            "description": "OpenTelemetry status message. Empty when not set."
          },
          "traceFlags": {
            "type": "number",
            "description": "OpenTelemetry trace flags bitfield."
          },
          "traceState": {
            "type": "string",
            "description": "OpenTelemetry trace state (vendor-specific propagation). Empty when not set."
          },
          "errorType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error class/type label when the span errored. `null` for successful spans."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "operation": {
            "type": "string",
            "description": "GenAI operation category (e.g. `\"chat\"`, `\"embeddings\"`, `\"execute_tool\"`, `\"invoke_agent\"`) or a custom string for non-GenAI spans."
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "LLM provider id. `null` for non-LLM spans."
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id as requested. `null` for non-LLM spans."
          },
          "responseModel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id reported by the provider's response. `null` for non-LLM spans."
          },
          "tokensInput": {
            "type": "number",
            "description": "Input tokens consumed by this span."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Output tokens produced by this span."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Reasoning tokens reported by the model."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "costIsEstimated": {
            "type": "boolean",
            "description": "`true` when the cost was derived from public pricing tables instead of the provider's bill."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the span to its first emitted token. `0` if not measured."
          },
          "isStreaming": {
            "type": "boolean",
            "description": "`true` when the span was produced by a streaming LLM call."
          },
          "responseId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Response identifier returned by the LLM. `null` when the provider didn't return one."
          },
          "finishReasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-choice finish reasons reported by the LLM provider."
          },
          "scopeName": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope name. Empty when not set."
          },
          "scopeVersion": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope version. Empty when not set."
          },
          "retentionDays": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Per-span retention override in days. Omitted when the project default applies."
          },
          "ingestedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which Latitude received this span."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanId",
          "parentSpanId",
          "sessionId",
          "userId",
          "simulationId",
          "apiKeyId",
          "startTime",
          "endTime",
          "name",
          "serviceName",
          "kind",
          "statusCode",
          "statusMessage",
          "traceFlags",
          "traceState",
          "errorType",
          "tags",
          "operation",
          "provider",
          "model",
          "responseModel",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "costIsEstimated",
          "timeToFirstTokenNs",
          "isStreaming",
          "responseId",
          "finishReasons",
          "scopeName",
          "scopeVersion",
          "ingestedAt"
        ]
      },
      "SpanDetail": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this span."
          },
          "projectId": {
            "type": "string",
            "description": "Project this span belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "Identifier of the trace this span belongs to."
          },
          "spanId": {
            "type": "string",
            "description": "Stable span identifier within the trace."
          },
          "parentSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the parent span. `null` for root spans."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this span. `null` when not a simulation."
          },
          "apiKeyId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latitude API key used to ingest the span. `null` when ingested without an API key."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span started."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span ended."
          },
          "name": {
            "type": "string",
            "description": "Span name (e.g. the entry-point function or route)."
          },
          "serviceName": {
            "type": "string",
            "description": "OpenTelemetry `service.name` of the emitting service."
          },
          "kind": {
            "type": "string",
            "enum": [
              "unspecified",
              "internal",
              "server",
              "client",
              "producer",
              "consumer"
            ],
            "description": "OpenTelemetry span kind."
          },
          "statusCode": {
            "type": "string",
            "enum": [
              "unset",
              "ok",
              "error"
            ],
            "description": "OpenTelemetry span status code."
          },
          "statusMessage": {
            "type": "string",
            "description": "OpenTelemetry status message. Empty when not set."
          },
          "traceFlags": {
            "type": "number",
            "description": "OpenTelemetry trace flags bitfield."
          },
          "traceState": {
            "type": "string",
            "description": "OpenTelemetry trace state (vendor-specific propagation). Empty when not set."
          },
          "errorType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error class/type label when the span errored. `null` for successful spans."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "operation": {
            "type": "string",
            "description": "GenAI operation category (e.g. `\"chat\"`, `\"embeddings\"`, `\"execute_tool\"`, `\"invoke_agent\"`) or a custom string for non-GenAI spans."
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "LLM provider id. `null` for non-LLM spans."
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id as requested. `null` for non-LLM spans."
          },
          "responseModel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id reported by the provider's response. `null` for non-LLM spans."
          },
          "tokensInput": {
            "type": "number",
            "description": "Input tokens consumed by this span."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Output tokens produced by this span."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Reasoning tokens reported by the model."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "costIsEstimated": {
            "type": "boolean",
            "description": "`true` when the cost was derived from public pricing tables instead of the provider's bill."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the span to its first emitted token. `0` if not measured."
          },
          "isStreaming": {
            "type": "boolean",
            "description": "`true` when the span was produced by a streaming LLM call."
          },
          "responseId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Response identifier returned by the LLM. `null` when the provider didn't return one."
          },
          "finishReasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-choice finish reasons reported by the LLM provider."
          },
          "scopeName": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope name. Empty when not set."
          },
          "scopeVersion": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope version. Empty when not set."
          },
          "retentionDays": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Per-span retention override in days. Omitted when the project default applies."
          },
          "ingestedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which Latitude received this span."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Free-form metadata attached at ingest time."
          },
          "systemInstructions": {
            "$ref": "#/components/schemas/GenAISpanSystem"
          },
          "inputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAISpanMessage"
            },
            "description": "Input messages sent into this LLM span, in OpenTelemetry GenAI format."
          },
          "outputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAISpanMessage"
            },
            "description": "Output messages returned by this LLM span, in OpenTelemetry GenAI format."
          },
          "toolDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            },
            "description": "Tool/function definitions made available to the LLM for this span."
          },
          "toolCallId": {
            "type": "string",
            "description": "Tool-call id this span answers. Empty when the span isn't an `execute_tool` span."
          },
          "toolName": {
            "type": "string",
            "description": "Name of the executed tool. Empty when the span isn't an `execute_tool` span."
          },
          "toolInput": {
            "type": "string",
            "description": "Stringified arguments passed to the tool. Empty when the span isn't an `execute_tool` span."
          },
          "toolOutput": {
            "type": "string",
            "description": "Stringified tool output. Empty when the span isn't an `execute_tool` span."
          },
          "attrString": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "OpenTelemetry attributes with string values."
          },
          "attrInt": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "OpenTelemetry attributes with integer values."
          },
          "attrFloat": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "OpenTelemetry attributes with floating-point values."
          },
          "attrBool": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "OpenTelemetry attributes with boolean values."
          },
          "resourceString": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "OpenTelemetry resource attributes captured at ingest."
          },
          "eventsJson": {
            "type": "string",
            "description": "JSON-encoded OpenTelemetry events array. Empty when the span has no events."
          },
          "linksJson": {
            "type": "string",
            "description": "JSON-encoded OpenTelemetry span-links array. Empty when the span has no links."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanId",
          "parentSpanId",
          "sessionId",
          "userId",
          "simulationId",
          "apiKeyId",
          "startTime",
          "endTime",
          "name",
          "serviceName",
          "kind",
          "statusCode",
          "statusMessage",
          "traceFlags",
          "traceState",
          "errorType",
          "tags",
          "operation",
          "provider",
          "model",
          "responseModel",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "costIsEstimated",
          "timeToFirstTokenNs",
          "isStreaming",
          "responseId",
          "finishReasons",
          "scopeName",
          "scopeVersion",
          "ingestedAt",
          "metadata",
          "systemInstructions",
          "inputMessages",
          "outputMessages",
          "toolDefinitions",
          "toolCallId",
          "toolName",
          "toolInput",
          "toolOutput",
          "attrString",
          "attrInt",
          "attrFloat",
          "attrBool",
          "resourceString",
          "eventsJson",
          "linksJson"
        ]
      },
      "GenAISpanSystem": {
        "type": "object",
        "additionalProperties": {},
        "description": "System instructions in OpenTelemetry GenAI format."
      },
      "GenAISpanMessage": {
        "type": "object",
        "additionalProperties": {},
        "description": "Message in OpenTelemetry GenAI format (`role` + content parts + optional tool calls)."
      },
      "ToolDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name as exposed to the LLM."
          },
          "description": {
            "type": "string",
            "description": "Tool description as exposed to the LLM."
          },
          "parameters": {
            "description": "JSON Schema for the tool's parameters, as provided by the caller."
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "PaginatedTraceAnnotations": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "ExportTracesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ],
            "description": "Always `\"queued\"`. The CSV is built asynchronously and emailed to `recipient` when ready."
          }
        },
        "required": [
          "status"
        ]
      },
      "ExportTracesBody": {
        "type": "object",
        "properties": {
          "traces": {
            "$ref": "#/components/schemas/TracesRef"
          },
          "recipient": {
            "type": "string",
            "format": "email",
            "description": "Email address the export download link is sent to. Must belong to a member of the requesting organization — otherwise the request is rejected with 400."
          }
        },
        "required": [
          "traces",
          "recipient"
        ]
      },
      "TracesRef": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "ids"
                ],
                "description": "Match an explicit list of traces by their identifiers. Pair with `ids`."
              },
              "ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 32,
                  "maxLength": 32,
                  "description": "32-character trace identifier."
                },
                "minItems": 1,
                "description": "Non-empty list of trace identifiers."
              }
            },
            "required": [
              "by",
              "ids"
            ]
          },
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "filters"
                ],
                "description": "Match every trace produced by a filter set. Pair with `filters`; result count is not bounded."
              },
              "filters": {
                "$ref": "#/components/schemas/FilterSet"
              }
            },
            "required": [
              "by",
              "filters"
            ]
          }
        ],
        "description": "Which traces to include in the export — either explicit ids or a filter set."
      },
      "PaginatedSavedSearches": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SavedSearch"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "SavedSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable saved-search identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this saved search."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this saved search belongs to."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug derived from `name`. Regenerated when the name changes in a way that affects the slug."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name."
          },
          "query": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-text semantic query applied alongside `filters`. `null` when the search is filter-only. At least one of `query` or `filters` must be set."
          },
          "filters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FilterSet"
              },
              {
                "description": "Structured filter set applied alongside `query`. Empty object means filter-free. At least one of `query` or `filters` must be set."
              }
            ]
          },
          "assignedUserId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User this search is assigned to, if any. `null` when the search is unassigned."
          },
          "createdByUserId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "User who created the saved search."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp at which the search was deleted. `null` while active."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of creation."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the last update."
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "slug",
          "name",
          "query",
          "filters",
          "assignedUserId",
          "createdByUserId",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateSavedSearchBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "description": "Human-readable name. Used to derive the slug."
          },
          "query": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500,
            "default": null,
            "description": "Free-text semantic query. `null` (default) when the search is filter-only. At least one of `query` or `filters` must be set."
          },
          "filters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FilterSet"
              },
              {
                "description": "Structured filter set. Defaults to `{}` (no filters). At least one of `query` or `filters` must be set."
              }
            ]
          },
          "assignedUserId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "User to assign the search to. `null` (default) leaves the search unassigned."
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateSavedSearchBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "description": "New human-readable name. Triggers slug regeneration when the change affects the slug form (cosmetic edits like capitalization keep the URL stable)."
          },
          "query": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 500,
            "description": "Replace the free-text query. Pass `null` to clear it."
          },
          "filters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FilterSet"
              },
              {
                "description": "Replace the structured filter set."
              }
            ]
          },
          "assignedUserId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Replace the assignee. Pass `null` to clear it. Use the dedicated `/assign` endpoint to validate membership."
          }
        }
      },
      "AssignSavedSearchBody": {
        "type": "object",
        "properties": {
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User to assign the search to, or `null` to clear the current assignment."
          }
        },
        "required": [
          "userId"
        ]
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable API-key identifier."
          },
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this API key."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name."
          },
          "token": {
            "type": "string",
            "description": "The full API key token. Returned by create / get / update — store it securely; treat it as a password."
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of the most recent successful authentication. `null` until first use."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp at which the key was revoked. `null` while the key is active."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of creation."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the last metadata update (rename, revoke, last-used touch)."
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "token",
          "lastUsedAt",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateApiKeyBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Human-readable name for the API key. Used to distinguish keys in the UI."
          }
        },
        "required": [
          "name"
        ]
      },
      "ApiKeyList": {
        "type": "object",
        "properties": {
          "apiKeys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKeyListItem"
            }
          }
        },
        "required": [
          "apiKeys"
        ]
      },
      "ApiKeyListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable API-key identifier."
          },
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this API key."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name."
          },
          "token": {
            "type": "string",
            "description": "Masked token preview safe to display in lists. Use `GET /api-keys/{id}` to retrieve the full token."
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of the most recent successful authentication. `null` until first use."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp at which the key was revoked. `null` while the key is active."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of creation."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the last metadata update."
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "token",
          "lastUsedAt",
          "deletedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "UpdateApiKeyBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "New human-readable name for the API key."
          }
        },
        "required": [
          "name"
        ]
      },
      "OAuthKeyList": {
        "type": "object",
        "properties": {
          "oauthKeys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OAuthKey"
            }
          }
        },
        "required": [
          "oauthKeys"
        ]
      },
      "OAuthKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable OAuth key identifier."
          },
          "clientId": {
            "type": "string",
            "description": "Identifier of the OAuth client the key was issued to."
          },
          "clientName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name of the OAuth client."
          },
          "clientIcon": {
            "type": [
              "string",
              "null"
            ],
            "description": "Icon URL of the OAuth client."
          },
          "userId": {
            "type": "string",
            "description": "Identifier of the user the key belongs to."
          },
          "userName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name of the user. `null` until the user completes onboarding."
          },
          "userEmail": {
            "type": "string",
            "description": "Email of the user."
          },
          "lastActivityAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of the last refresh on the key. `null` if the key has never been used."
          },
          "connectedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the key was connected."
          },
          "disabled": {
            "type": "boolean",
            "description": "Whether the key has been disabled."
          }
        },
        "required": [
          "id",
          "clientId",
          "clientName",
          "clientIcon",
          "userId",
          "userName",
          "userEmail",
          "lastActivityAt",
          "connectedAt",
          "disabled"
        ]
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/AccountUser"
          },
          "organization": {
            "$ref": "#/components/schemas/AccountOrganization"
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "owner",
              "admin",
              "member",
              null
            ],
            "description": "Caller's role in the organization. `null` for API-key callers (no real user behind the credential)."
          }
        },
        "required": [
          "user",
          "organization",
          "role"
        ]
      },
      "AccountUser": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable user identifier across the API."
          },
          "email": {
            "type": "string",
            "description": "Verified email address of the authenticated user."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name, when set. `null` until the user completes onboarding."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Profile image URL, when set."
          }
        },
        "required": [
          "id",
          "email",
          "name",
          "image"
        ],
        "description": "The user the request is acting on behalf of. `null` for API-key callers — API keys are org-scoped, not user-scoped."
      },
      "AccountOrganization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable organization identifier across the API."
          },
          "name": {
            "type": "string",
            "description": "Human-readable organization name."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug. Regenerated when the organization is renamed — don't use it as a stable key."
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ],
        "description": "Organization the request is scoped to."
      },
      "MemberList": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          }
        },
        "required": [
          "members"
        ]
      },
      "Member": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ActiveMember"
          },
          {
            "$ref": "#/components/schemas/InvitedMember"
          }
        ],
        "discriminator": {
          "propertyName": "status",
          "mapping": {
            "active": "#/components/schemas/ActiveMember",
            "invited": "#/components/schemas/InvitedMember"
          }
        }
      },
      "ActiveMember": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active"
            ],
            "description": "Discriminator for confirmed members — the user has accepted their invitation and joined the org."
          },
          "id": {
            "type": "string",
            "description": "Stable membership identifier. Use this to address the row in update/remove endpoints."
          },
          "organizationId": {
            "type": "string",
            "description": "Organization this membership belongs to."
          },
          "userId": {
            "type": "string",
            "description": "Identifier of the user the membership represents."
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member"
            ],
            "description": "Member's role within the organization."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name of the user. `null` if the user hasn't completed onboarding."
          },
          "email": {
            "type": "string",
            "description": "User's email address, verified at signup."
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "User's profile image URL, when set."
          },
          "joinedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the user joined the organization."
          }
        },
        "required": [
          "status",
          "id",
          "organizationId",
          "userId",
          "role",
          "name",
          "email",
          "image",
          "joinedAt"
        ]
      },
      "InvitedMember": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "invited"
            ],
            "description": "Discriminator for pending invitations — the invitee hasn't accepted yet, so no user record exists."
          },
          "id": {
            "type": "string",
            "description": "Stable invitation identifier. Distinct from membership ids."
          },
          "organizationId": {
            "type": "string",
            "description": "Organization the invitation grants access to."
          },
          "userId": {
            "type": "null",
            "description": "Always `null` — no user record exists until the invitation is accepted."
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "owner",
              "admin",
              "member",
              null
            ],
            "description": "Role the invitee will get once they accept. `null` means the default (`member`)."
          },
          "name": {
            "type": "null",
            "description": "Always `null` — no user record exists yet."
          },
          "email": {
            "type": "string",
            "description": "Email address the invitation was sent to."
          },
          "image": {
            "type": "null",
            "description": "Always `null` — no user record exists yet."
          },
          "invitedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the invitation was created."
          },
          "expiresAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the invitation expires."
          },
          "inviterId": {
            "type": "string",
            "description": "User id of the member who issued the invitation."
          }
        },
        "required": [
          "status",
          "id",
          "organizationId",
          "userId",
          "role",
          "name",
          "email",
          "image",
          "invitedAt",
          "expiresAt",
          "inviterId"
        ]
[...]
