{
  "openapi": "3.1.0",
  "info": {
    "title": "Latitude API",
    "version": "1.0.0",
    "description": "The Latitude public API. Authenticate using an API key via the `Authorization: Bearer` header."
  },
  "servers": [
    {
      "url": "https://api.latitude.so",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Organization-scoped API key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "service": {
            "type": "string",
            "enum": [
              "api"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          }
        },
        "required": [
          "service",
          "status"
        ]
      },
      "OAuthProtectedResourceMetadata": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "string"
          },
          "authorization_servers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "resource",
          "authorization_servers"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable project identifier (CUID2)."
          },
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this project."
          },
          "name": {
            "type": "string",
            "description": "Human-readable name."
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug. Set from `name` at creation; renaming never changes it. It can only be changed from the dashboard, not via the API."
          },
          "settings": {
            "$ref": "#/components/schemas/ProjectSettings"
          },
          "firstTraceAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp of the first ingested trace. `null` until the first trace lands."
          },
          "deletedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp at which the project was deleted. `null` while the project is active."
          },
          "lastEditedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the most recent name/settings edit."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of creation."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp of the last metadata change."
          }
        },
        "required": [
          "id",
          "organizationId",
          "name",
          "slug",
          "settings",
          "firstTraceAt",
          "deletedAt",
          "lastEditedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectSettings": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "keepMonitoring": {
            "type": "boolean",
            "description": "When `true`, the evaluation linked to an signal keeps running after the signal is resolved. When `false`, resolving the signal stops the evaluation. Defaults to `true` when omitted."
          },
          "notifications": {
            "$ref": "#/components/schemas/NotificationsSetting"
          },
          "escalation": {
            "$ref": "#/components/schemas/EscalationSetting"
          }
        },
        "description": "Per-project settings overrides. `null` means inherit from the organization."
      },
      "NotificationsSetting": {
        "type": "object",
        "properties": {
          "incidents": {
            "$ref": "#/components/schemas/IncidentNotificationsSetting"
          },
          "destinations": {
            "$ref": "#/components/schemas/DestinationNotificationsSetting"
          }
        },
        "description": "Per-group project-level notification toggles (`incidents`, `destinations`)."
      },
      "IncidentNotificationsSetting": {
        "type": "object",
        "properties": {
          "signal.escalating": {
            "type": "boolean",
            "description": "Send a notification when an active signal is escalating in volume or severity. Defaults to `true` when omitted."
          },
          "monitor.match": {
            "type": "boolean",
            "description": "Send a notification when a match monitor opens an incident. Defaults to `true` when omitted."
          },
          "monitor.threshold": {
            "type": "boolean",
            "description": "Send a notification when a threshold monitor opens an incident. Defaults to `true` when omitted."
          },
          "monitor.escalating": {
            "type": "boolean",
            "description": "Send a notification when an escalating monitor opens an incident. Defaults to `true` when omitted."
          }
        },
        "description": "Per-alert-kind opt-out for incident notifications."
      },
      "DestinationNotificationsSetting": {
        "type": "object",
        "properties": {
          "quarantine": {
            "type": "boolean",
            "description": "Notify org members when a data destination is quarantined after repeated sync failures. Defaults to `true` when omitted."
          }
        },
        "description": "Project-level opt-out for data-destination notifications."
      },
      "EscalationSetting": {
        "type": "object",
        "properties": {
          "sensitivity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "description": "Sensitivity of the escalation detector, 1 (most sensitive, more incidents) to 6 (least sensitive, fewer incidents). Defaults to a balanced value when omitted."
          }
        },
        "description": "Tuning parameters for the escalation detector. Affects detector behaviour regardless of whether notifications are enabled."
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateProjectBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Human-readable name for the project. Must be unique within the organization."
          }
        },
        "required": [
          "name"
        ]
      },
      "PaginatedProjects": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "UpdateProjectBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "New human-readable name. Renaming never changes the slug."
          },
          "settings": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ProjectSettings"
              },
              {
                "description": "Replace the project's settings overrides. Omit to leave settings untouched. To clear overrides entirely, edit via the web UI."
              }
            ]
          },
          "flaggers": {
            "type": "object",
            "properties": {
              "frustration": {
                "type": "boolean"
              },
              "nsfw": {
                "type": "boolean"
              },
              "refusal": {
                "type": "boolean"
              },
              "laziness": {
                "type": "boolean"
              },
              "jailbreaking": {
                "type": "boolean"
              },
              "forgetting": {
                "type": "boolean"
              },
              "trashing": {
                "type": "boolean"
              },
              "tool-call-errors": {
                "type": "boolean"
              },
              "output-schema-validation": {
                "type": "boolean"
              },
              "empty-response": {
                "type": "boolean"
              },
              "low-cache-hit-rate": {
                "type": "boolean"
              }
            },
            "description": "Enable or disable specific flaggers for the project. Keys are flagger slugs; values are the new `enabled` state. Omitted slugs are left untouched."
          }
        }
      },
      "ScoreResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/CustomScoreResponse"
          },
          {
            "$ref": "#/components/schemas/EvaluationScoreResponse"
          }
        ]
      },
      "CustomScoreResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable score identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this score."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this score lives in."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 128,
            "description": "Session id lifted from the trace, when set. `null` when the trace has no session."
          },
          "traceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 32,
            "maxLength": 32,
            "description": "Identifier of the scored trace."
          },
          "spanId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 16,
            "maxLength": 16,
            "description": "Span the score pins to. Defaults to the trace's last LLM-completion span."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Simulation reference, if any."
          },
          "signalId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Signal this score contributes to, if any."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the score marks the output as passing."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Generation error text, when score generation itself errored. `null` for successful scores."
          },
          "errored": {
            "type": "boolean",
            "description": "`true` when the score could not be generated successfully."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "description": "Score generation duration in nanoseconds."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "LLM tokens consumed generating the score."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD)."
          },
          "draftedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601 timestamp while the score is awaiting human confirmation. `null` for published / system scores."
          },
          "annotatorId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User who authored the score, if any."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the score was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the last metadata update."
          },
          "source": {
            "type": "string",
            "enum": [
              "custom"
            ],
            "description": "Discriminator. `\"custom\"` denotes a user-supplied score."
          },
          "sourceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "User-supplied tag identifying the score's origin (echoed from the request)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "description": "Arbitrary user-supplied metadata persisted alongside the score."
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "sessionId",
          "traceId",
          "spanId",
          "simulationId",
          "signalId",
          "value",
          "passed",
          "feedback",
          "error",
          "errored",
          "duration",
          "tokens",
          "cost",
          "draftedAt",
          "annotatorId",
          "createdAt",
          "updatedAt",
          "source",
          "sourceId",
          "metadata"
        ]
      },
      "EvaluationScoreResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable score identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this score."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this score lives in."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 128,
            "description": "Session id lifted from the trace, when set. `null` when the trace has no session."
          },
          "traceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 32,
            "maxLength": 32,
            "description": "Identifier of the scored trace."
          },
          "spanId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 16,
            "maxLength": 16,
            "description": "Span the score pins to. Defaults to the trace's last LLM-completion span."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Simulation reference, if any."
          },
          "signalId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Signal this score contributes to, if any."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the score marks the output as passing."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Generation error text, when score generation itself errored. `null` for successful scores."
          },
          "errored": {
            "type": "boolean",
            "description": "`true` when the score could not be generated successfully."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "description": "Score generation duration in nanoseconds."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "LLM tokens consumed generating the score."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD)."
          },
          "draftedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601 timestamp while the score is awaiting human confirmation. `null` for published / system scores."
          },
          "annotatorId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User who authored the score, if any."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the score was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the last metadata update."
          },
          "source": {
            "type": "string",
            "enum": [
              "evaluation"
            ],
            "description": "Discriminator. `\"evaluation\"` denotes a platform-generated evaluation score."
          },
          "sourceId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "CUID of the evaluation that produced this score."
          },
          "metadata": {
            "$ref": "#/components/schemas/EvaluationScoreMetadata"
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "sessionId",
          "traceId",
          "spanId",
          "simulationId",
          "signalId",
          "value",
          "passed",
          "feedback",
          "error",
          "errored",
          "duration",
          "tokens",
          "cost",
          "draftedAt",
          "annotatorId",
          "createdAt",
          "updatedAt",
          "source",
          "sourceId",
          "metadata"
        ]
      },
      "EvaluationScoreMetadata": {
        "type": "object",
        "properties": {
          "evaluationHash": {
            "type": "string",
            "description": "Hash of the evaluation script that produced this score; lets the platform track which version generated it."
          }
        },
        "required": [
          "evaluationHash"
        ],
        "description": "Evaluation-specific metadata."
      },
      "CreateScoreBody": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/CreateCustomScoreBody"
          },
          {
            "$ref": "#/components/schemas/CreateEvaluationScoreBody"
          }
        ]
      },
      "CreateCustomScoreBody": {
        "type": "object",
        "properties": {
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Simulation this score is tied to, if any. `null` (default) when not part of a simulation."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the scored output passes the evaluator's bar."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "default": null,
            "description": "Generation error text, when score generation itself failed. `null` (default) for successful scores."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score generation duration in nanoseconds. `0` for externally-computed scores."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "LLM tokens consumed generating the score, if any. `0` for externally-computed scores."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD). `0` for externally-computed scores."
          },
          "trace": {
            "$ref": "#/components/schemas/TraceRef"
          },
          "sourceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "description": "User-supplied tag identifying the score's origin (e.g. `\"prod-pipeline\"`, `\"qa-script-v2\"`)."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "default": {},
            "description": "Arbitrary user-supplied metadata persisted alongside the score."
          },
          "_evaluation": {
            "type": "boolean",
            "enum": [
              false
            ],
            "default": false,
            "description": "Discriminator: omit (or `false`) for custom scores. Required `true` for evaluation scores."
          }
        },
        "required": [
          "value",
          "passed",
          "feedback",
          "trace",
          "sourceId"
        ]
      },
      "TraceRef": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "id"
                ],
                "description": "Match a single trace by its identifier. Pair with `id`."
              },
              "id": {
                "type": "string",
                "minLength": 32,
                "maxLength": 32,
                "description": "32-character trace identifier."
              }
            },
            "required": [
              "by",
              "id"
            ]
          },
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "filters"
                ],
                "description": "Match a single trace by a filter set. Pair with `filters`; exactly one trace must match."
              },
              "filters": {
                "$ref": "#/components/schemas/FilterSet"
              }
            },
            "required": [
              "by",
              "filters"
            ]
          }
        ],
        "description": "Target trace. Either an explicit id or a filter set matching exactly one trace."
      },
      "FilterSet": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/FilterCondition"
          }
        },
        "description": "Filter set keyed by field name. Each entry holds an array of conditions ANDed together for that field; field-level groups are also ANDed across the set."
      },
      "FilterCondition": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "gt",
              "gte",
              "lt",
              "lte",
              "in",
              "notIn",
              "contains",
              "notContains",
              "gtePercentile"
            ],
            "description": "Comparison operator applied to the field's value (e.g. `eq`, `neq`, `in`). The full operator list lives in the API reference."
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                }
              }
            ],
            "description": "Right-hand value compared against the field. Arrays are required for `in` / `notIn`-style operators."
          }
        },
        "required": [
          "op",
          "value"
        ]
      },
      "CreateEvaluationScoreBody": {
        "type": "object",
        "properties": {
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Simulation this score is tied to, if any. `null` (default) when not part of a simulation."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the scored output passes the evaluator's bar."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "default": null,
            "description": "Generation error text, when score generation itself failed. `null` (default) for successful scores."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score generation duration in nanoseconds. `0` for externally-computed scores."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "LLM tokens consumed generating the score, if any. `0` for externally-computed scores."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "Score cost in microcents (1/1,000,000 of a USD). `0` for externally-computed scores."
          },
          "trace": {
            "$ref": "#/components/schemas/TraceRef"
          },
          "_evaluation": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Discriminator: `true` flags the body as an evaluation score (internal); `false`/omit for custom."
          },
          "sourceId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "CUID of the evaluation that produced this score."
          },
          "metadata": {
            "$ref": "#/components/schemas/EvaluationScoreMetadata"
          }
        },
        "required": [
          "value",
          "passed",
          "feedback",
          "trace",
          "_evaluation",
          "sourceId",
          "metadata"
        ],
        "description": "Internal, don't use"
      },
      "Annotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Stable annotation identifier."
          },
          "organizationId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Organization that owns this annotation."
          },
          "projectId": {
            "type": "string",
            "minLength": 24,
            "maxLength": 24,
            "description": "Project this annotation lives in."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 128,
            "description": "Session id lifted from the annotated trace. `null` when the trace has no session."
          },
          "traceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 32,
            "maxLength": 32,
            "description": "Identifier of the annotated trace."
          },
          "spanId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 16,
            "maxLength": 16,
            "description": "Span the annotation pins to. Defaults to the trace's last LLM-completion span."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Simulation reference, if any."
          },
          "signalId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "Signal this annotation contributes to, if any."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the annotation marks the output as passing."
          },
          "feedback": {
            "type": "string",
            "description": "Free-text feedback explaining the score."
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Generation error text, when the annotation itself errored. `null` for successful annotations."
          },
          "errored": {
            "type": "boolean",
            "description": "`true` when the annotation could not be generated successfully."
          },
          "duration": {
            "type": "integer",
            "minimum": 0,
            "description": "Generation duration in nanoseconds. `0` for human annotations."
          },
          "tokens": {
            "type": "integer",
            "minimum": 0,
            "description": "Total LLM tokens consumed generating the score. `0` for human annotations."
          },
          "cost": {
            "type": "integer",
            "minimum": 0,
            "description": "Total LLM cost in microcents (1/1,000,000 USD). `0` for human annotations."
          },
          "draftedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the annotation was drafted. `null` for published annotations."
          },
          "annotatorId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "description": "User who authored the annotation. `null` when not attributed to a user."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp at which the annotation was created."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp of the last metadata update."
          },
          "source": {
            "type": "string",
            "enum": [
              "annotation"
            ],
            "description": "Always `\"annotation\"` for this shape."
          },
          "sourceId": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "UI",
                  "API",
                  "SYSTEM"
                ]
              },
              {
                "type": "string",
                "minLength": 24,
                "maxLength": 24
              }
            ],
            "description": "Origin marker. Sentinel `\"UI\"` / `\"API\"` / `\"SYSTEM\"` for drafts and automation, or an annotation-queue CUID for queue-authored rows."
          },
          "metadata": {
            "$ref": "#/components/schemas/AnnotationMetadata"
          }
        },
        "required": [
          "id",
          "organizationId",
          "projectId",
          "sessionId",
          "traceId",
          "spanId",
          "simulationId",
          "signalId",
          "value",
          "passed",
          "feedback",
          "error",
          "errored",
          "duration",
          "tokens",
          "cost",
          "draftedAt",
          "annotatorId",
          "createdAt",
          "updatedAt",
          "source",
          "sourceId",
          "metadata"
        ]
      },
      "AnnotationMetadata": {
        "type": "object",
        "properties": {
          "rawFeedback": {
            "type": "string",
            "description": "Original feedback text as written by the annotator, before any server-side enrichment."
          },
          "messageIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based message index inside the conversation. Omit for conversation-level annotations."
          },
          "partIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based index into the target message's `parts[]`. Requires `messageIndex`."
          },
          "startOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Inclusive start offset for substring annotations. Must be paired with `endOffset` and `partIndex`."
          },
          "endOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Exclusive end offset for substring annotations. Must be paired with `startOffset` and `partIndex`, and `>= startOffset`."
          },
          "textFormat": {
            "type": "string",
            "enum": [
              "pretty-json"
            ],
            "description": "UI-side text transform applied before the offsets were captured (e.g. `\"pretty-json\"`). Resolvers must apply the same transform before slicing."
          }
        },
        "required": [
          "rawFeedback"
        ],
        "description": "Annotation-specific metadata: `rawFeedback` plus a snapshot of the anchor at write time."
      },
      "CreateAnnotationBody": {
        "type": "object",
        "properties": {
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Simulation this annotation is tied to, if any. `null` (default) when not part of a simulation."
          },
          "signalId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 24,
            "maxLength": 24,
            "default": null,
            "description": "Pre-selected signal this annotation belongs to. Leave `null` (default) to let the automatic signal-discovery pipeline route the annotation."
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Normalized score value in [0, 1]. Higher = better."
          },
          "passed": {
            "type": "boolean",
            "description": "Whether the annotated output passes the reviewer's bar."
          },
          "feedback": {
            "type": "string",
            "minLength": 1,
            "description": "Free-text feedback explaining the score. Surfaced alongside the trace."
          },
          "anchor": {
            "$ref": "#/components/schemas/AnnotationAnchor"
          },
          "trace": {
            "$ref": "#/components/schemas/TraceRef"
          }
        },
        "required": [
          "value",
          "passed",
          "feedback",
          "trace"
        ]
      },
      "AnnotationAnchor": {
        "type": "object",
        "properties": {
          "messageIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based message index inside the conversation. Omit for conversation-level annotations."
          },
          "partIndex": {
            "type": "integer",
            "minimum": 0,
            "description": "0-based index into the target message's `parts[]`. Requires `messageIndex`."
          },
          "startOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Inclusive start offset for substring annotations. Must be paired with `endOffset` and `partIndex`."
          },
          "endOffset": {
            "type": "integer",
            "minimum": 0,
            "description": "Exclusive end offset for substring annotations. Must be paired with `startOffset` and `partIndex`, and `>= startOffset`."
          },
          "textFormat": {
            "type": "string",
            "enum": [
              "pretty-json"
            ],
            "description": "UI-side text transform applied before the offsets were captured (e.g. `\"pretty-json\"`). Resolvers must apply the same transform before slicing."
          }
        },
        "description": "Optional anchor pinning the annotation to a specific message / part / offset range inside the trace."
      },
      "PaginatedTraces": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Trace"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "Trace": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this trace."
          },
          "projectId": {
            "type": "string",
            "description": "Project this trace belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "32-character trace identifier."
          },
          "spanCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of spans in the trace."
          },
          "errorCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of spans flagged with an error status."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's earliest span."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's latest span."
          },
          "durationNs": {
            "type": "number",
            "description": "Wall-clock duration of the trace in nanoseconds."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the first LLM span to its first emitted token. `0` if not measured."
          },
          "tokensInput": {
            "type": "number",
            "description": "Total input tokens across LLM spans."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Total output tokens across LLM spans."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Total tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Total tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Total reasoning tokens reported by the model."
          },
          "tokensTotal": {
            "type": "number",
            "description": "Sum of all token counters."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this trace. `null` when not a simulation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Model identifiers seen across the trace's LLM spans."
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "LLM-provider identifiers seen across the trace's spans."
          },
          "serviceNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OpenTelemetry `service.name` values seen in the trace."
          },
          "rootSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the trace's root span. `null` when no root span has been ingested."
          },
          "rootSpanName": {
            "type": [
              "string",
              "null"
            ],
            "description": "`name` attribute of the root span. `null` when no root span has been ingested."
          },
          "positiveAnnotationCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of `passed = true` annotations attached to this trace."
          },
          "negativeAnnotationCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of `passed = false` annotations attached to this trace."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanCount",
          "errorCount",
          "startTime",
          "endTime",
          "durationNs",
          "timeToFirstTokenNs",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "tokensTotal",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "sessionId",
          "userId",
          "simulationId",
          "tags",
          "models",
          "providers",
          "serviceNames",
          "rootSpanId",
          "rootSpanName",
          "positiveAnnotationCount",
          "negativeAnnotationCount"
        ]
      },
      "ListTracesBody": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "description": "Opaque cursor returned in a previous response's `nextCursor`. Omit on the first page."
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50,
            "description": "Page size. Defaults to 50; max 200."
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "relevance",
              "startTime",
              "endTime",
              "durationNs",
              "tokensTotal",
              "costTotalMicrocents"
            ],
            "default": "startTime",
            "description": "Field to sort by. Defaults to `startTime`. Pass `relevance` together with `query` to rank by semantic match (best match first, then most recent)."
          },
          "sortDirection": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "desc",
            "description": "Sort direction. Defaults to `desc` (most recent first)."
          },
          "query": {
            "type": "string",
            "maxLength": 500,
            "description": "Free-text semantic search across the trace's input and output messages. Combined with `filters` via AND."
          },
          "filters": {
            "$ref": "#/components/schemas/FilterSet"
          }
        }
      },
      "TraceAnalyticsResponse": {
        "type": "object",
        "properties": {
          "traces": {
            "$ref": "#/components/schemas/TraceAnalyticsTraces"
          },
          "cost": {
            "$ref": "#/components/schemas/TraceAnalyticsCost"
          },
          "duration": {
            "$ref": "#/components/schemas/TraceAnalyticsDuration"
          },
          "tokens": {
            "$ref": "#/components/schemas/TraceAnalyticsTokens"
          },
          "timeToFirstToken": {
            "$ref": "#/components/schemas/TraceAnalyticsTimeToFirstToken"
          },
          "spans": {
            "$ref": "#/components/schemas/TraceAnalyticsSpans"
          }
        },
        "required": [
          "traces",
          "cost",
          "duration",
          "tokens",
          "timeToFirstToken",
          "spans"
        ]
      },
      "TraceAnalyticsTraces": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Number of traces in the range."
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceAnalyticsBucket"
            },
            "description": "Number of traces per bucket."
          }
        },
        "required": [
          "total",
          "buckets"
        ]
      },
      "TraceAnalyticsBucket": {
        "type": "object",
        "properties": {
          "bucket": {
            "type": "string",
            "description": "ISO-8601 UTC timestamp of the bucket's start."
          },
          "value": {
            "type": "number",
            "description": "Metric value for this bucket."
          }
        },
        "required": [
          "bucket",
          "value"
        ]
      },
      "TraceAnalyticsCost": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total trace cost in USD."
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceAnalyticsBucket"
            },
            "description": "Trace cost per bucket in USD."
          }
        },
        "required": [
          "total",
          "buckets"
        ]
      },
      "TraceAnalyticsDuration": {
        "type": "object",
        "properties": {
          "median": {
            "type": "number",
            "description": "Median trace duration in seconds."
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceAnalyticsBucket"
            },
            "description": "Median trace duration per bucket in seconds."
          }
        },
        "required": [
          "median",
          "buckets"
        ]
      },
      "TraceAnalyticsTokens": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total tokens across all LLM spans."
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceAnalyticsBucket"
            },
            "description": "Tokens per bucket across all LLM spans."
          }
        },
        "required": [
          "total",
          "buckets"
        ]
      },
      "TraceAnalyticsTimeToFirstToken": {
        "type": "object",
        "properties": {
          "median": {
            "type": "number",
            "description": "Median time-to-first-token across LLM spans, in seconds."
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceAnalyticsBucket"
            },
            "description": "Median time-to-first-token per bucket, in seconds."
          }
        },
        "required": [
          "median",
          "buckets"
        ]
      },
      "TraceAnalyticsSpans": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of spans."
          },
          "buckets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TraceAnalyticsBucket"
            },
            "description": "Number of spans per bucket."
          }
        },
        "required": [
          "total",
          "buckets"
        ]
      },
      "TraceDetail": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this trace."
          },
          "projectId": {
            "type": "string",
            "description": "Project this trace belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "32-character trace identifier."
          },
          "spanCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of spans in the trace."
          },
          "errorCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of spans flagged with an error status."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's earliest span."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp of the trace's latest span."
          },
          "durationNs": {
            "type": "number",
            "description": "Wall-clock duration of the trace in nanoseconds."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the first LLM span to its first emitted token. `0` if not measured."
          },
          "tokensInput": {
            "type": "number",
            "description": "Total input tokens across LLM spans."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Total output tokens across LLM spans."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Total tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Total tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Total reasoning tokens reported by the model."
          },
          "tokensTotal": {
            "type": "number",
            "description": "Sum of all token counters."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this trace. `null` when not a simulation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Model identifiers seen across the trace's LLM spans."
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "LLM-provider identifiers seen across the trace's spans."
          },
          "serviceNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "OpenTelemetry `service.name` values seen in the trace."
          },
          "rootSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the trace's root span. `null` when no root span has been ingested."
          },
          "rootSpanName": {
            "type": [
              "string",
              "null"
            ],
            "description": "`name` attribute of the root span. `null` when no root span has been ingested."
          },
          "positiveAnnotationCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of `passed = true` annotations attached to this trace."
          },
          "negativeAnnotationCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of `passed = false` annotations attached to this trace."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Free-form metadata attached at ingest time."
          },
          "systemInstructions": {
            "$ref": "#/components/schemas/GenAISystem"
          },
          "inputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAIMessage"
            },
            "description": "Input messages sent into the first LLM span of the trace, in OpenTelemetry GenAI format."
          },
          "outputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAIMessage"
            },
            "description": "Output messages from the last LLM span of the trace, in OpenTelemetry GenAI format."
          },
          "allMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAIMessage"
            },
            "description": "Full conversation view for the trace's final turn — the last span's input messages followed by its output messages, in OpenTelemetry GenAI format."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanCount",
          "errorCount",
          "startTime",
          "endTime",
          "durationNs",
          "timeToFirstTokenNs",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "tokensTotal",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "sessionId",
          "userId",
          "simulationId",
          "tags",
          "models",
          "providers",
          "serviceNames",
          "rootSpanId",
          "rootSpanName",
          "positiveAnnotationCount",
          "negativeAnnotationCount",
          "metadata",
          "systemInstructions",
          "inputMessages",
          "outputMessages",
          "allMessages"
        ]
      },
      "GenAISystem": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": {}
        },
        "description": "System instructions in OpenTelemetry GenAI format — an array of part objects."
      },
      "GenAIMessage": {
        "type": "object",
        "additionalProperties": {},
        "description": "Message in OpenTelemetry GenAI format (`role` + content parts + optional tool calls)."
      },
      "TraceSpans": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Span"
            },
            "description": "All spans belonging to the trace, ordered by `startTime` ascending."
          }
        },
        "required": [
          "items"
        ]
      },
      "Span": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this span."
          },
          "projectId": {
            "type": "string",
            "description": "Project this span belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "Identifier of the trace this span belongs to."
          },
          "spanId": {
            "type": "string",
            "description": "Stable span identifier within the trace."
          },
          "parentSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the parent span. `null` for root spans."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this span. `null` when not a simulation."
          },
          "apiKeyId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latitude API key used to ingest the span. `null` when ingested without an API key."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span started."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span ended."
          },
          "name": {
            "type": "string",
            "description": "Span name (e.g. the entry-point function or route)."
          },
          "serviceName": {
            "type": "string",
            "description": "OpenTelemetry `service.name` of the emitting service."
          },
          "kind": {
            "type": "string",
            "enum": [
              "unspecified",
              "internal",
              "server",
              "client",
              "producer",
              "consumer"
            ],
            "description": "OpenTelemetry span kind."
          },
          "statusCode": {
            "type": "string",
            "enum": [
              "unset",
              "ok",
              "error"
            ],
            "description": "OpenTelemetry span status code."
          },
          "statusMessage": {
            "type": "string",
            "description": "OpenTelemetry status message. Empty when not set."
          },
          "traceFlags": {
            "type": "number",
            "description": "OpenTelemetry trace flags bitfield."
          },
          "traceState": {
            "type": "string",
            "description": "OpenTelemetry trace state (vendor-specific propagation). Empty when not set."
          },
          "errorType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error class/type label when the span errored. `null` for successful spans."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "operation": {
            "type": "string",
            "description": "GenAI operation category (e.g. `\"chat\"`, `\"embeddings\"`, `\"execute_tool\"`, `\"invoke_agent\"`) or a custom string for non-GenAI spans."
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "LLM provider id. `null` for non-LLM spans."
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id as requested. `null` for non-LLM spans."
          },
          "responseModel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id reported by the provider's response. `null` for non-LLM spans."
          },
          "tokensInput": {
            "type": "number",
            "description": "Input tokens consumed by this span."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Output tokens produced by this span."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Reasoning tokens reported by the model."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "costIsEstimated": {
            "type": "boolean",
            "description": "`true` when the cost was derived from public pricing tables instead of the provider's bill."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the span to its first emitted token. `0` if not measured."
          },
          "isStreaming": {
            "type": "boolean",
            "description": "`true` when the span was produced by a streaming LLM call."
          },
          "responseId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Response identifier returned by the LLM. `null` when the provider didn't return one."
          },
          "finishReasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-choice finish reasons reported by the LLM provider."
          },
          "scopeName": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope name. Empty when not set."
          },
          "scopeVersion": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope version. Empty when not set."
          },
          "retentionDays": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Per-span retention override in days. Omitted when the project default applies."
          },
          "ingestedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which Latitude received this span."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanId",
          "parentSpanId",
          "sessionId",
          "userId",
          "simulationId",
          "apiKeyId",
          "startTime",
          "endTime",
          "name",
          "serviceName",
          "kind",
          "statusCode",
          "statusMessage",
          "traceFlags",
          "traceState",
          "errorType",
          "tags",
          "operation",
          "provider",
          "model",
          "responseModel",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "costIsEstimated",
          "timeToFirstTokenNs",
          "isStreaming",
          "responseId",
          "finishReasons",
          "scopeName",
          "scopeVersion",
          "ingestedAt"
        ]
      },
      "SpanDetail": {
        "type": "object",
        "properties": {
          "organizationId": {
            "type": "string",
            "description": "Organization that owns this span."
          },
          "projectId": {
            "type": "string",
            "description": "Project this span belongs to."
          },
          "traceId": {
            "type": "string",
            "description": "Identifier of the trace this span belongs to."
          },
          "spanId": {
            "type": "string",
            "description": "Stable span identifier within the trace."
          },
          "parentSpanId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Identifier of the parent span. `null` for root spans."
          },
          "sessionId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Conversation/session identifier set by the SDK. `null` when absent."
          },
          "userId": {
            "type": [
              "string",
              "null"
            ],
            "description": "End-user identifier set by the SDK. `null` when absent."
          },
          "simulationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "CUID of the simulation that produced this span. `null` when not a simulation."
          },
          "apiKeyId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Latitude API key used to ingest the span. `null` when ingested without an API key."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span started."
          },
          "endTime": {
            "type": "string",
            "description": "ISO-8601 timestamp at which the span ended."
          },
          "name": {
            "type": "string",
            "description": "Span name (e.g. the entry-point function or route)."
          },
          "serviceName": {
            "type": "string",
            "description": "OpenTelemetry `service.name` of the emitting service."
          },
          "kind": {
            "type": "string",
            "enum": [
              "unspecified",
              "internal",
              "server",
              "client",
              "producer",
              "consumer"
            ],
            "description": "OpenTelemetry span kind."
          },
          "statusCode": {
            "type": "string",
            "enum": [
              "unset",
              "ok",
              "error"
            ],
            "description": "OpenTelemetry span status code."
          },
          "statusMessage": {
            "type": "string",
            "description": "OpenTelemetry status message. Empty when not set."
          },
          "traceFlags": {
            "type": "number",
            "description": "OpenTelemetry trace flags bitfield."
          },
          "traceState": {
            "type": "string",
            "description": "OpenTelemetry trace state (vendor-specific propagation). Empty when not set."
          },
          "errorType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error class/type label when the span errored. `null` for successful spans."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form tags attached at ingest time."
          },
          "operation": {
            "type": "string",
            "description": "GenAI operation category (e.g. `\"chat\"`, `\"embeddings\"`, `\"execute_tool\"`, `\"invoke_agent\"`) or a custom string for non-GenAI spans."
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "LLM provider id. `null` for non-LLM spans."
          },
          "model": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id as requested. `null` for non-LLM spans."
          },
          "responseModel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model id reported by the provider's response. `null` for non-LLM spans."
          },
          "tokensInput": {
            "type": "number",
            "description": "Input tokens consumed by this span."
          },
          "tokensOutput": {
            "type": "number",
            "description": "Output tokens produced by this span."
          },
          "tokensCacheRead": {
            "type": "number",
            "description": "Tokens served from the provider's prompt cache."
          },
          "tokensCacheCreate": {
            "type": "number",
            "description": "Tokens written to the provider's prompt cache."
          },
          "tokensReasoning": {
            "type": "number",
            "description": "Reasoning tokens reported by the model."
          },
          "costInputMicrocents": {
            "type": "number",
            "description": "Cost of input tokens in microcents (1/1,000,000 USD)."
          },
          "costOutputMicrocents": {
            "type": "number",
            "description": "Cost of output tokens in microcents (1/1,000,000 USD)."
          },
          "costTotalMicrocents": {
            "type": "number",
            "description": "Total cost in microcents (1/1,000,000 USD)."
          },
          "costIsEstimated": {
            "type": "boolean",
            "description": "`true` when the cost was derived from public pricing tables instead of the provider's bill."
          },
          "timeToFirstTokenNs": {
            "type": "number",
            "description": "Nanoseconds from the start of the span to its first emitted token. `0` if not measured."
          },
          "isStreaming": {
            "type": "boolean",
            "description": "`true` when the span was produced by a streaming LLM call."
          },
          "responseId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Response identifier returned by the LLM. `null` when the provider didn't return one."
          },
          "finishReasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Per-choice finish reasons reported by the LLM provider."
          },
          "scopeName": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope name. Empty when not set."
          },
          "scopeVersion": {
            "type": "string",
            "description": "OpenTelemetry instrumentation scope version. Empty when not set."
          },
          "retentionDays": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "description": "Per-span retention override in days. Omitted when the project default applies."
          },
          "ingestedAt": {
            "type": "string",
            "description": "ISO-8601 timestamp at which Latitude received this span."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Free-form metadata attached at ingest time."
          },
          "systemInstructions": {
            "$ref": "#/components/schemas/GenAISpanSystem"
          },
          "inputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAISpanMessage"
            },
            "description": "Input messages sent into this LLM span, in OpenTelemetry GenAI format."
          },
          "outputMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenAISpanMessage"
            },
            "description": "Output messages returned by this LLM span, in OpenTelemetry GenAI format."
          },
          "toolDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            },
            "description": "Tool/function definitions made available to the LLM for this span."
          },
          "toolCallId": {
            "type": "string",
            "description": "Tool-call id this span answers. Empty when the span isn't an `execute_tool` span."
          },
          "toolName": {
            "type": "string",
            "description": "Name of the executed tool. Empty when the span isn't an `execute_tool` span."
          },
          "toolInput": {
            "type": "string",
            "description": "Stringified arguments passed to the tool. Empty when the span isn't an `execute_tool` span."
          },
          "toolOutput": {
            "type": "string",
            "description": "Stringified tool output. Empty when the span isn't an `execute_tool` span."
          },
          "attrString": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "OpenTelemetry attributes with string values."
          },
          "attrInt": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "OpenTelemetry attributes with integer values."
          },
          "attrFloat": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "OpenTelemetry attributes with floating-point values."
          },
          "attrBool": {
            "type": "object",
            "additionalProperties": {
              "type": "boolean"
            },
            "description": "OpenTelemetry attributes with boolean values."
          },
          "resourceString": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "OpenTelemetry resource attributes captured at ingest."
          },
          "eventsJson": {
            "type": "string",
            "description": "JSON-encoded OpenTelemetry events array. Empty when the span has no events."
          },
          "linksJson": {
            "type": "string",
            "description": "JSON-encoded OpenTelemetry span-links array. Empty when the span has no links."
          }
        },
        "required": [
          "organizationId",
          "projectId",
          "traceId",
          "spanId",
          "parentSpanId",
          "sessionId",
          "userId",
          "simulationId",
          "apiKeyId",
          "startTime",
          "endTime",
          "name",
          "serviceName",
          "kind",
          "statusCode",
          "statusMessage",
          "traceFlags",
          "traceState",
          "errorType",
          "tags",
          "operation",
          "provider",
          "model",
          "responseModel",
          "tokensInput",
          "tokensOutput",
          "tokensCacheRead",
          "tokensCacheCreate",
          "tokensReasoning",
          "costInputMicrocents",
          "costOutputMicrocents",
          "costTotalMicrocents",
          "costIsEstimated",
          "timeToFirstTokenNs",
          "isStreaming",
          "responseId",
          "finishReasons",
          "scopeName",
          "scopeVersion",
          "ingestedAt",
          "metadata",
          "systemInstructions",
          "inputMessages",
          "outputMessages",
          "toolDefinitions",
          "toolCallId",
          "toolName",
          "toolInput",
          "toolOutput",
          "attrString",
          "attrInt",
          "attrFloat",
          "attrBool",
          "resourceString",
          "eventsJson",
          "linksJson"
        ]
      },
      "GenAISpanSystem": {
        "type": "array",
        "items": {
          "type": "object",
          "additionalProperties": {}
        },
        "description": "System instructions in OpenTelemetry GenAI format — an array of part objects."
      },
      "GenAISpanMessage": {
        "type": "object",
        "additionalProperties": {},
        "description": "Message in OpenTelemetry GenAI format (`role` + content parts + optional tool calls)."
      },
      "ToolDefinition": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name as exposed to the LLM."
          },
          "description": {
            "type": "string",
            "description": "Tool description as exposed to the LLM."
          },
          "parameters": {
            "description": "JSON Schema for the tool's parameters, as provided by the caller."
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "PaginatedTraceAnnotations": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Annotation"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "ExportTracesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ],
            "description": "Always `\"queued\"`. The CSV is built asynchronously and emailed to `recipient` when ready."
          }
        },
        "required": [
          "status"
        ]
      },
      "ExportTracesBody": {
        "type": "object",
        "properties": {
          "traces": {
            "$ref": "#/components/schemas/TracesRef"
          },
          "recipient": {
            "type": "string",
            "format": "email",
            "description": "Email address the export download link is sent to. Must belong to a member of the requesting organization — otherwise the request is rejected with 400."
          }
        },
        "required": [
          "traces",
          "recipient"
        ]
      },
      "TracesRef": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "ids"
                ],
                "description": "Match an explicit list of traces by their identifiers. Pair with `ids`."
              },
              "ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 32,
                  "maxLength": 32,
                  "description": "32-character trace identifier."
                },
                "minItems": 1,
                "description": "Non-empty list of trace identifiers."
              }
            },
            "required": [
              "by",
              "ids"
            ]
          },
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "filters"
                ],
                "description": "Match every trace produced by a filter set. Pair with `filters`; result count is not bounded."
              },
              "filters": {
                "$ref": "#/components/schemas/FilterSet"
              }
            },
            "required": [
              "by",
              "filters"
            ]
          }
        ],
        "description": "Which traces to include in the export — either explicit ids or a filter set."
      },
      "ToolsAnalyticsResponse": {
        "type": "object",
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/ToolsAnalyticsTotals"
          },
          "tools": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolSummary"
            },
            "description": "Every tool in the range — the union of defined and called tools."
          }
        },
        "required": [
          "totals",
          "tools"
        ]
      },
      "ToolsAnalyticsTotals": {
        "type": "object",
        "properties": {
          "traces": {
            "type": "integer",
            "description": "Total traces in the range."
          },
          "sessions": {
            "type": "integer",
            "description": "Total sessions in the range."
          },
          "tracesWithToolCalls": {
            "type": "integer",
            "description": "Traces with at least one tool call (any tool)."
          },
          "sessionsWithToolCalls": {
            "type": "integer",
            "description": "Sessions with at least one tool call (any tool)."
          }
        },
        "required": [
          "traces",
          "sessions",
          "tracesWithToolCalls",
          "sessionsWithToolCalls"
        ],
        "description": "Project-wide denominators for the range."
      },
      "ToolSummary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Tool name."
          },
          "metrics": {
            "$ref": "#/components/schemas/ToolUsageMetrics"
          },
          "offeredCount": {
            "type": "integer",
            "description": "LLM turns that offered this tool. 0 means no definition was seen."
          },
          "offeredTraces": {
            "type": "integer",
            "description": "Distinct traces that offered this tool."
          },
          "lastOffered": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO-8601 timestamp the tool was last offered. `null` when never offered."
          },
          "selectionRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Calls per offer (`calls / offeredCount`). Can exceed 1. `null` when never offered."
          },
          "trend": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCallHistogramBucket"
            },
            "description": "Per-bucket call counts across the range."
          }
        },
        "required": [
          "name",
          "metrics",
          "offeredCount",
          "offeredTraces",
          "lastOffered",
          "selectionRate",
          "trend"
        ]
      },
      "ToolUsageMetrics": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "calls": {
            "type": "integer",
            "description": "Number of times the tool was called in the range."
          },
          "errors": {
            "type": "integer",
            "description": "Number of calls that ended in an error."
          },
          "errorRate": {
            "type": "number",
            "description": "Fraction of calls that errored, 0..1."
          },
          "avgDurationNs": {
            "type": "number",
            "description": "Mean call duration, in nanoseconds."
          },
          "p50DurationNs": {
            "type": "number",
            "description": "Median (p50) call duration, in nanoseconds."
          },
          "p95DurationNs": {
            "type": "number",
            "description": "95th-percentile call duration, in nanoseconds."
          },
          "p99DurationNs": {
            "type": "number",
            "description": "99th-percentile call duration, in nanoseconds."
          },
          "tracesUsed": {
            "type": "integer",
            "description": "Distinct traces with at least one call of this tool."
          },
          "sessionsUsed": {
            "type": "integer",
            "description": "Distinct sessions with at least one call of this tool."
          },
          "traceUsageRate": {
            "type": "number",
            "description": "`tracesUsed` divided by total traces in the range, 0..1."
          },
          "sessionUsageRate": {
            "type": "number",
            "description": "`sessionsUsed` divided by total sessions in the range, 0..1."
          },
          "firstSeen": {
            "type": "string",
            "description": "ISO-8601 timestamp of the first call in the range."
          },
          "lastUsed": {
            "type": "string",
            "description": "ISO-8601 timestamp of the most recent call in the range."
          }
        },
        "required": [
          "calls",
          "errors",
          "errorRate",
          "avgDurationNs",
          "p50DurationNs",
          "p95DurationNs",
          "p99DurationNs",
          "tracesUsed",
          "sessionsUsed",
          "traceUsageRate",
          "sessionUsageRate",
          "firstSeen",
          "lastUsed"
        ],
        "description": "Call-side usage metrics. `null` when the tool was defined but never called in the range."
      },
      "ToolCallHistogramBucket": {
        "type": "object",
        "properties": {
          "bucketStart": {
            "type": "string",
            "description": "ISO-8601 UTC timestamp of the bucket's start."
          },
          "calls": {
            "type": "integer",
            "description": "Number of calls in this bucket."
          },
          "errors": {
            "type": "integer",
            "description": "Number of errored calls in this bucket."
          },
          "p50DurationNs": {
            "type": "number",
            "description": "Median call duration in this bucket, in nanoseconds."
          }
        },
        "required": [
          "bucketStart",
          "calls",
          "errors",
          "p50DurationNs"
        ]
      },
      "ToolHistogramResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCallHistogramBucket"
            },
            "description": "Call buckets across the range, oldest first."
          }
        },
        "required": [
          "items"
        ]
      },
      "ToolParameterStatsResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolParameterStat"
            },
            "description": "Top input keys and their most common values."
          },
          "sampleSize": {
            "type": "integer",
            "description": "Number of recent calls the stats were computed over."
          }
        },
        "required": [
          "stats",
          "sampleSize"
        ]
      },
      "ToolParameterStat": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "A top-level key in the tool's input."
          },
          "occurrences": {
            "type": "integer",
            "description": "Sampled calls whose input contains this key."
          },
          "topValues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolParameterValueStat"
            },
            "description": "Most common values for this key."
          }
        },
        "required": [
          "key",
          "occurrences",
          "topValues"
        ]
      },
      "ToolParameterValueStat": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "A value seen for the key (truncated)."
          },
          "count": {
            "type": "integer",
            "description": "Number of sampled calls with this value."
          }
        },
        "required": [
          "value",
          "count"
        ]
      },
      "ToolContextBreakdownResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolContextBreakdownRow"
            },
            "description": "Breakdown rows, most significant first."
          }
        },
        "required": [
          "items"
        ]
      },
      "ToolContextBreakdownRow": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The dimension value (a model, provider, or tag)."
          },
          "traces": {
            "type": "integer",
            "description": "Distinct traces for this value."
          },
          "occurrences": {
            "type": "integer",
            "description": "Underlying spans or calls behind this value."
          }
        },
        "required": [
          "value",
          "traces",
          "occurrences"
        ]
      },
      "ToolCoOccurrenceResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCoOccurrenceRow"
            },
            "description": "Co-occurring tools, by shared trace count."
          }
        },
        "required": [
          "items"
        ]
      },
      "ToolCoOccurrenceRow": {
        "type": "object",
        "properties": {
          "otherTool": {
            "type": "string",
            "description": "Another tool called in the same traces."
          },
          "sharedTraces": {
            "type": "integer",
            "description": "Traces where both tools were called."
          }
        },
        "required": [
          "otherTool",
          "sharedTraces"
        ]
      },
      "ToolErrorBreakdownResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolErrorBreakdownRow"
            },
            "description": "Error clusters, most frequent first."
          }
        },
        "required": [
          "items"
        ]
      },
      "ToolErrorBreakdownRow": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Normalized error cluster key. Empty when the calls carried no error output."
          },
          "sample": {
            "type": "string",
            "description": "A verbatim error output from the cluster (truncated)."
          },
          "errorType": {
            "type": "string",
            "description": "An error type seen in the cluster."
          },
          "calls": {
            "type": "integer",
            "description": "Number of failed calls in the cluster."
          }
        },
        "required": [
          "key",
          "sample",
          "errorType",
          "calls"
        ]
      },
      "PaginatedToolCalls": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecentToolCall"
            },
            "description": "Page of items, in the requested sort order."
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for fetching the next page. `null` when there are no more pages. Pass it back in `cursor` to continue."
          },
          "hasMore": {
            "type": "boolean",
            "description": "`true` when there is at least one more page after this one."
          }
        },
        "required": [
          "items",
          "nextCursor",
          "hasMore"
        ]
      },
      "RecentToolCall": {
        "type": "object",
        "properties": {
          "spanId": {
            "type": "string",
            "description": "16-character span identifier of the tool call."
          },
          "traceId": {
            "type": "string",
            "description": "Trace this call belongs to."
          },
          "sessionId": {
            "type": "string",
            "description": "Session this call belongs to."
          },
          "startTime": {
            "type": "string",
            "description": "ISO-8601 timestamp the call started."
          },
          "durationNs": {
            "type": "number",
            "description": "Call duration, in nanoseconds."
          },
          "statusCode": {
            "type": "string",
            "enum": [
              "unset",
              "ok",
              "error"
            ],
            "description": "Span status of the call."
          },
          "statusMessage": {
            "type": "string",
            "description": "Status message, when present."
          },
          "errorType": {
            "type": "string",
            "description": "Error type, when the call failed."
          },
          "toolCallId": {
[...]
