name: CI/CD

on:
  push:
    branches:
      - main
      - latitude-v1
  pull_request:
    branches:
      - main
      - latitude-v1
  workflow_call:
    inputs:
      workflow_call:
        type: boolean
        required: false
        default: false

jobs:
  node-lint:
    uses: ./.github/workflows/node-lint.yml

  python-lint:
    uses: ./.github/workflows/python-lint.yml

  call-build-and-push:
    if: github.event_name == 'push' && github.ref == 'refs/heads/latitude-v1'
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/build-and-push.yml
    secrets: inherit
