name: Tests

on:
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      workflow_call:
        type: boolean
        required: false
        default: false

jobs:
  core-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4]

    services:
      redis:
        image: redis
        ports:
          - '6379:6379'
      postgres:
        image: postgres
        env:
          POSTGRES_DB: latitude_test
          POSTGRES_PASSWORD: secret
          POSTGRES_USER: latitude
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpixman-1-dev libcairo2-dev

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Node.js dependencies
        run: pnpm install

      - name: Use Turbo to build affected packages
        run: pnpm turbo build --cache-dir=.turbo --filter="./packages/**"

      - name: Wait for PostgreSQL to start
        run: until pg_isready -h localhost -p 5432; do sleep 1; done

      - name: Run Server migrations
        env:
          NODE_ENV: test
          DATABASE_URL: postgres://latitude:secret@localhost:5432/latitude_test
        run: cd packages/core && pnpm db:migrate:test

      - name: Core Tests (Shard ${{ matrix.shard }}/4)
        env:
          NODE_ENV: test
        run: cd packages/core && vitest run --pool=threads --shard=${{ matrix.shard }}/4

  other-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpixman-1-dev libcairo2-dev

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.14.x

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: '0.8.17'
          enable-cache: true

      - name: Install Node.js dependencies
        run: pnpm install

      - name: Install Python SDK dependencies
        run: |
          cd packages/sdks/python
          uv venv
          uv sync --all-extras --all-groups

      - name: Install Python Telemetry dependencies
        run: |
          cd packages/telemetry/python
          uv venv
          uv sync --all-extras --all-groups

      - name: Use Turbo to build affected packages
        run: pnpm turbo build --cache-dir=.turbo --filter="./packages/**"

      - name: Node.js Tests (non-core)
        env:
          NODE_ENV: test
          LATITUDE_API_KEY: fake-test-key # NOTE: Used by packages/cli
        run: pnpm turbo test --filter='!@latitude-data/core'

      - name: Python SDK Test
        run: |
          cd packages/sdks/python
          uv run scripts/test.py

      - name: Python Telemetry Test
        run: |
          cd packages/telemetry/python
          uv run scripts/test.py
